In [18]:
import pandas as pd
from zipfile import ZipFile

In [19]:
zip_file = ZipFile('./Sample Delivery Data-FW42-20181217.zip')
#zip_file_sep = ZipFile('./PackageLevelDimData-Sep 18.csv.zip')
df = pd.read_csv(zip_file.open('Sample Delivery Data-FW42-20181217.csv'))

In [2]:
# df_d = pd.read_csv('./Sample Delivery Data-FW42-20181217.csv')

In [3]:
df_d.shape

(1511202, 8)

In [4]:
df_d.head()

,OriginDate,PackageType,FwdPackageKey,ActualWeight,OriginFacility,OriginFacilityZip,DestinationFacilityModified,DestinationFacilityZip
0,2018-10-13,Delivery,365429247,0.440,Client - 3177,11096,Courier - Albany,12205.0
1,2018-10-13,Delivery,365435043,0.030,Client - 3177,11096,Courier - Albany,12205.0
2,2018-10-13,Delivery,365437849,0.106,Client - 3177,11096,Courier - Plainville,2762.0
3,2018-10-13,Delivery,365387891,0.888,Client - 3177,11096,Courier - Plainville,2762.0
4,2018-10-13,Delivery,365420028,0.465,Client - 3177,11096,Courier - Plainville,2762.0

In [6]:
df_r = pd.read_csv('./Sample Returns Data-FW42-20181217.csv')

In [7]:
df_r.shape

(694994, 8)

In [8]:
df_r.head()

,OriginDate,PackageType,PackageKey,ActualWeight,OriginFacilityModified,OriginFacilityZip,DestinationFacility,DestinationFacilityZip
0,2018-10-14,Return,410239140,2.005,Courier - Elkridge,21075.0,Client - 57541,17022
1,2018-10-14,Return,410229739,3.200,Courier - Elkridge,21075.0,Client - 57541,17022
2,2018-10-14,Return,410229613,0.395,Courier - Elkridge,21075.0,Client - 57541,17022
3,2018-10-14,Return,410232948,2.320,Courier - Elkridge,21075.0,Client - 57541,17022
4,2018-10-14,Return,410243408,0.105,Courier - Elkridge,21075.0,Client - 57541,17022

In [9]:
df_r.dtypes

OriginDate                 object
PackageType                object
PackageKey                  int64
ActualWeight              float64
OriginFacilityModified     object
OriginFacilityZip         float64
DestinationFacility        object
DestinationFacilityZip      int64
dtype: object

In [21]:
print(df_r['OriginDate'].min())
print(df_r['OriginDate'].max())

2018-10-14
2018-11-05

In [17]:
print(df_d['OriginDate'].max())
print(df_d['OriginDate'].min())

2018-10-23
2018-10-13