In [23]:
from math import sin, cos, sqrt, atan2, radians


def cal_distance(lat1,lat2,lon1,lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # change km to mile
    distance = R * c / 1.609
    
    return distance

In [24]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [25]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")
from pandas.io import sql
import pandas as pd

In [26]:
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from deliver_package_info limit 100')
package_df = pd.DataFrame(result.fetchall(),columns=['origin_state','originstate','origin_lng','dest_state','dest_lat','dest_lng','count'])

In [27]:
package_df

,origin_state,originstate,origin_lng,dest_state,dest_lat,dest_lng,count
0,NY,41.1434616274125,-74.1238460876456,NJ,40.5833124911422,-74.2703150322948,14
1,MD,39.4748982668505,-76.2084143365847,VA,37.2706334855373,-79.9411734251418,8
2,MD,39.4748982668505,-76.2084143365847,CT,41.3447619004598,-73.068704647852,4
3,MD,39.4748982668505,-76.2084143365847,NY,42.6472800295118,-73.7516930834563,2
4,MD,39.4748982668505,-76.2084143365847,TN,36.13,-88.51,4
5,NJ,40.6240218011197,-74.8843774239638,,,,2
6,CT,41.3447619004598,-73.068704647852,,,,4
7,NY,41.2922361699564,-73.7604420299132,NY,42.2343589257587,-75.5390075382465,6
8,NY,40.7220752067917,-73.7068341419121,,,,8133
9,CT,41.3447619004598,-73.068704647852,NY,42.6472800295118,-73.7516930834563,1379

In [15]:
facility_df=pd.DataFrame()
facility_df['ID']=[i for i in range(1,11)]
facility_df['lat']=[40.272873706173655,44.89515483095407,42.304686965277391,38.563117084832918,40.799492838763541,
                    40.642102443412682,41.622412156211446,42.717481071824182,41.775317822514765,39.637607998749651]
facility_df['lon']=[-78.437189786669663,-70.792749586986645,-77.008752286812296,-77.934078803323573,-80.429785375722489,
                    -81.09876856469576,-75.298832812376659,-72.696958353258665,-71.910726787671877,-75.921949353175265]

In [16]:
facility_df

   ID        lat        lon
0   1  40.272874 -78.437190
1   2  44.895155 -70.792750
2   3  42.304687 -77.008752
3   4  38.563117 -77.934079
4   5  40.799493 -80.429785
5   6  40.642102 -81.098769
6   7  41.622412 -75.298833
7   8  42.717481 -72.696958
8   9  41.775318 -71.910727
9  10  39.637608 -75.921949