In [13]:
!pip install sqlalchemy pymysql -q

In [14]:
!pip install sqlalchemy sql_magic -q

In [17]:
%load_ext sql_magic

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

In [47]:
%sql

UsageError: Line magic function `%sql` not found.

In [1]:
import pandas as pd
import numpy as np

## Write pandas df to database

In [2]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [3]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")

In [4]:
from pandas.io import sql

## Query database

In [6]:
result = engine.execute('show databases')
for _r in result:
    print(_r)

('information_schema',)
('cornell',)

In [147]:
result = engine.execute('show tables in cornell')
for _r in result:
    print(_r)

('deliver_package_info',)
('input_df',)
('ne_delivery_data_by_day_2018',)
('ne_returns_data_by_day_2018',)
('return_package_info_update',)
('test_df',)

## Query first 10 delivery package data & fields name

In [61]:
result = engine.execute('select * from cornell.ne_delivery_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

(datetime.date(2018, 9, 30), 'Delivery', '362970510', '0.1950', 'Client - 2462', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082836', '0.2300', 'Client - 1216', '11096', 'Courier - Plainville', '2762')
(datetime.date(2018, 8, 14), 'Delivery', '355433187', '1.6600', 'Client - 1216', '11096', 'Courier - Secaucus', '7094')
(datetime.date(2018, 7, 11), 'Delivery', '350299758', '0.8800', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082834', '0.4850', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082830', '15.1200', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 9), 'Delivery', '350140996', '1.3400', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 11), 'Delivery', '350286964', '0.1850', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 11), 'Delivery', '350286549', '0.8350', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 9), 'Delivery', '350141099', '0.2700', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')

In [35]:
result = engine.execute('describe cornell.deliver_package_info')
for _r in result:
    print(_r)

('index', 'bigint(20)', 'YES', 'MUL', None, '')
('origindate', 'date', 'YES', '', None, '')
('originfacilityzip', 'text', 'YES', '', None, '')
('destinationfacilityzip', 'text', 'YES', '', None, '')
('count', 'bigint(20)', 'YES', '', None, '')
('origin_major_city', 'text', 'YES', '', None, '')
('origin_county', 'text', 'YES', '', None, '')
('origin_state', 'text', 'YES', '', None, '')
('origin_lat', 'double', 'YES', '', None, '')
('origin_lng', 'double', 'YES', '', None, '')
('dest_major_city', 'text', 'YES', '', None, '')
('dest_county', 'text', 'YES', '', None, '')
('dest_state', 'text', 'YES', '', None, '')
('dest_lat', 'double', 'YES', '', None, '')
('dest_lng', 'double', 'YES', '', None, '')

## How many delivery data do we have

In [10]:
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018')
for _r in result:
    print(_r)

(61916290,)

## Daily demand of delivery packages

In [ ]:
result = engine.execute('select origindate, count(*) from cornell.ne_delivery_data_by_day_2018 group by origindate')
for _r in result:
    print(_r)

### The number of deliver packages from customer warehouse to USPS & store in a new table "deliver_package_info"

In [49]:
# The # of packages from customer warehouse to USPS 
deliver_result = engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count(*) from cornell.ne_delivery_data_by_day_2018 \
                        group by originfacilityzip,destinationfacilityzip \
                        order by origindate')
deliver_df = pd.DataFrame(deliver_result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [50]:
deliver_df

      origindate originfacilityzip destinationfacilityzip   count
0     2018-01-01             10974                  07097      14
1     2018-01-01             21057                  24012       8
2     2018-01-01             21057                  06492       4
3     2018-01-01             21057                  12288       2
4     2018-01-03             21057                   3820       4
5     2018-01-03             08837                              2
6     2018-01-03             06492                              4
7     2018-01-03             10533                  13760       6
8     2018-01-03             11096                           8133
9     2018-01-04             06492                  12205    1379
10    2018-01-04             06492                  17104    2716
11    2018-01-04             06492                  11714     285
12    2018-01-04             46037                  14624   47370
13    2018-01-04             46037                  21075  457194
14    2018-01-04             06492                  13220     523
15    2018-01-04             06492                  14624    1519
16    2018-01-04             06492                  14206    1402
17    2018-01-04             06492                  16335     523
18    2018-01-04             06492                  23323    2072
19    2018-01-04             46037                   3106   47654
20    2018-01-05             46037                  19014  434941
21    2018-01-07             10001                  24022       3
22    2018-01-08             21057                  24022       3
23    2018-01-09             43068                  19116      54
24    2018-01-10             21057                  08650       1
25    2018-01-10             21057                  02904       2
26    2018-01-10             21057                  19116       1
27    2018-01-15             06492                  15136       9
28    2018-01-15             06492                  25015      41
29    2018-01-15             17055                           1759
...          ...               ...                    ...     ...
1887  2018-12-27             11111                  15086     332
1888  2018-12-27             07904                  21233      22
1889  2018-12-27             17011                  20799       5
1890  2018-12-27             07904                  17107      41
1891  2018-12-27             17011                   2762      33
1892  2018-12-27             11111                  15095     258
1893  2018-12-27             11413                  15136       1
1894  2018-12-27             07904                  25309      43
1895  2018-12-27             17011                  21233       5
1896  2018-12-27             17011                  14624      24
1897  2018-12-27             07904                   6457     185
1898  2018-12-27             07904                  25015      30
1899  2018-12-27             17011                  17604       3
1900  2018-12-27             17011                  23222      30
1901  2018-12-27             07904                  23501       5
1902  2018-12-27             17011                  46037     915
1903  2018-12-27             07904                  12205      64
1904  2018-12-27             17011                  15095      13
1905  2018-12-27             07904                   8110      21
1906  2018-12-27             07904                  13220      45
1907  2018-12-27             11111                  25015     199
1908  2018-12-27             07904                  04074      14
1909  2018-12-27             17011                  23323      23
1910  2018-12-27             07904                  17104     142
1911  2018-12-27             07904                  19014     535
1912  2018-12-27             07904                   7001     271
1913  2018-12-27             17011                  04444       4
1914  2018-12-28             11111                  04074       1
1915  2018-12-28             21152                  04444       2
1916  2018-12-28             11111                  24012       1

[1917 rows x 4 columns]

In [14]:
deliver_df.to_sql(con=engine, name='deliver_package_info', 
                if_exists='replace')

## Query first 10 return package data & fields name

In [ ]:
result = engine.execute('select * from cornell.ne_returns_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

In [ ]:
result = engine.execute('describe cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

## How many return data do we have

In [9]:
result = engine.execute('select count(*) from cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

(33276614,)

## Daily demand of return packages

In [ ]:
result = engine.execute('select origindate, count(*) from cornell.ne_returns_data_by_day_2018 group by origindate')
for _r in result:
    print(_r)

### The number of daily return packages from USPS to customer warehouse & store in a new table "return_package_info"

In [15]:
return_result = engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count(*) from cornell.ne_returns_data_by_day_2018 \
                        group by originfacilityzip,destinationfacilityzip \
                        order by origindate')
return_df = pd.DataFrame(return_result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [17]:
return_df.to_sql(con=engine, name='return_package_info', if_exists='replace')

## geodecode zip3

#### zip3 reference dict

In [6]:
zip3_dic={}
zip3_file='/home/fusion/jupyterhub-notebooks/Cornell_PB_NE_Hub/references/zip3_centroids.csv'
import csv
with open(zip3_file,'r',encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        zip3_dic[row[2]]=[row[3],row[4],row[5]]

### decodezip3 function

In [51]:
def decodezip3(zip3,reference):
    res=[]
    for i in zip3:
        if len(i)==3:
            i='00'+i
        elif len(i)==4:
            i='0'+i
            
        zipp=i[0:3]
        if not i:
            tmp=[zipp,'','','']
        else:
            if zipp in reference.keys():
                zipinfo=reference[zipp]
                tmp=[zipp,zipinfo[0],zipinfo[1],zipinfo[2]]
            else:
                tmp=[zipp,'','','']    
        res.append(tmp)
    return res

### decode deliver - origin

In [36]:
result=engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count from deliver_package_info')

In [37]:
deliver_df = pd.DataFrame(result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [38]:
deliver_tmp=decodezip3(deliver_df['originfacilityzip'],zip3_dic)

\N \N
\N \N
\N \N
\N \N

In [39]:
tmp_df=pd.DataFrame(deliver_tmp,columns=['origin_zip3','origin_state','origin_lat','origin_lng'])

In [40]:
deliver_df=deliver_df.join(tmp_df)

In [41]:
deliver_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng
0,2018-01-01,10974,07097,14,109,NY,41.1434616274125,-74.1238460876456
1,2018-01-01,21057,24012,8,210,MD,39.4748982668505,-76.2084143365847
2,2018-01-01,21057,06492,4,210,MD,39.4748982668505,-76.2084143365847
3,2018-01-01,21057,12288,2,210,MD,39.4748982668505,-76.2084143365847
4,2018-01-03,21057,3820,4,210,MD,39.4748982668505,-76.2084143365847
5,2018-01-03,08837,,2,088,NJ,40.6240218011197,-74.8843774239638
6,2018-01-03,06492,,4,064,CT,41.3447619004598,-73.068704647852
7,2018-01-03,10533,13760,6,105,NY,41.2922361699564,-73.7604420299132
8,2018-01-03,11096,,8133,110,NY,40.7220752067917,-73.7068341419121
9,2018-01-04,06492,12205,1379,064,CT,41.3447619004598,-73.068704647852
10,2018-01-04,06492,17104,2716,064,CT,41.3447619004598,-73.068704647852
11,2018-01-04,06492,11714,285,064,CT,41.3447619004598,-73.068704647852
12,2018-01-04,46037,14624,47370,460,IN,40.2490326631515,-85.6604766032736
13,2018-01-04,46037,21075,457194,460,IN,40.2490326631515,-85.6604766032736
14,2018-01-04,06492,13220,523,064,CT,41.3447619004598,-73.068704647852
15,2018-01-04,06492,14624,1519,064,CT,41.3447619004598,-73.068704647852
16,2018-01-04,06492,14206,1402,064,CT,41.3447619004598,-73.068704647852
17,2018-01-04,06492,16335,523,064,CT,41.3447619004598,-73.068704647852
18,2018-01-04,06492,23323,2072,064,CT,41.3447619004598,-73.068704647852
19,2018-01-04,46037,3106,47654,460,IN,40.2490326631515,-85.6604766032736
20,2018-01-05,46037,19014,434941,460,IN,40.2490326631515,-85.6604766032736
21,2018-01-07,10001,24022,3,100,NY,40.7505956027072,-73.9969904238369
22,2018-01-08,21057,24022,3,210,MD,39.4748982668505,-76.2084143365847
23,2018-01-09,43068,19116,54,430,OH,40.0879778724422,-82.6129450831437
24,2018-01-10,21057,08650,1,210,MD,39.4748982668505,-76.2084143365847
25,2018-01-10,21057,02904,2,210,MD,39.4748982668505,-76.2084143365847
26,2018-01-10,21057,19116,1,210,MD,39.4748982668505,-76.2084143365847
27,2018-01-15,06492,15136,9,064,CT,41.3447619004598,-73.068704647852
28,2018-01-15,06492,25015,41,064,CT,41.3447619004598,-73.068704647852
29,2018-01-15,17055,,1759,170,PA,40.5266561258918,-77.8269602130124
...,...,...,...,...,...,...,...,...
1887,2018-12-27,07904,21233,22,079,NJ,40.7149350827677,-74.3650397802954
1888,2018-12-27,17011,20799,5,170,PA,40.5266561258918,-77.8269602130124
1889,2018-12-27,11111,15086,332,111,NY,40.7458765271783,-73.9401086213694
1890,2018-12-27,07904,17107,41,079,NJ,40.7149350827677,-74.3650397802954
1891,2018-12-27,17011,2762,33,170,PA,40.5266561258918,-77.8269602130124
1892,2018-12-27,11413,15136,1,114,NY,40.7049329101236,-73.7938723442845
1893,2018-12-27,07904,25309,43,079,NJ,40.7149350827677,-74.3650397802954
1894,2018-12-27,17011,21233,5,170,PA,40.5266561258918,-77.8269602130124
1895,2018-12-27,11111,15095,258,111,NY,40.7458765271783,-73.9401086213694
1896,2018-12-27,07904,6457,185,079,NJ,40.7149350827677,-74.3650397802954
1897,2018-12-27,07904,25015,30,079,NJ,40.7149350827677,-74.3650397802954
1898,2018-12-27,17011,17604,3,170,PA,40.5266561258918,-77.8269602130124
1899,2018-12-27,17011,14624,24,170,PA,40.5266561258918,-77.8269602130124
1900,2018-12-27,07904,23501,5,079,NJ,40.7149350827677,-74.3650397802954
1901,2018-12-27,17011,46037,915,170,PA,40.5266561258918,-77.8269602130124
1902,2018-12-27,17011,23222,30,170,PA,40.5266561258918,-77.8269602130124
1903,2018-12-27,07904,12205,64,079,NJ,40.7149350827677,-74.3650397802954
1904,2018-12-27,17011,15095,13,170,PA,40.5266561258918,-77.8269602130124
1905,2018-12-27,07904,13220,45,079,NJ,40.7149350827677,-74.3650397802954
1906,2018-12-27,07904,8110,21,079,NJ,40.7149350827677,-74.3650397802954
1907,2018-12-27,07904,04074,14,079,NJ,40.7149350827677,-74.3650397802954
1908,2018-12-27,17011,23323,23,170,PA,40.5266561258918,-77.8269602130124
1909,2018-12-27,11111,25015,199,111,NY,40.7458765271783,-73.9401086213694
1910,2018-12-27,07904,17104,142,079,NJ,40.7149350827677,-74.3650397802954
1911,2018-12-27,07904,7001,271,079,NJ,40.7149350827677,-74.3650397802954
1912,2018-12-27,17011,04444,4,170,PA,40.5266561258918,-77.8269602130124
1913,2018-12-27,07904,19014,535,079,NJ,40.7149350827677,-74.3650397802954
1914,2018-12-28,11111,04074,1,111,NY,40.7458765271783,-73.9401086213694
1915,2018-12-28,21152,04444,2,211,MD,39.6865546812135,-76.8461063568031
1916,2018-12-28,11111,24012,1,111,NY,40.7458765271783,-73.9401086213694

### decode deliver - dest

In [42]:
destination_tmp=decodezip3(deliver_df['destinationfacilityzip'],zip3_dic)

In [43]:
dest_df=pd.DataFrame(destination_tmp,columns=['dest_zip3','dest_state','dest_lat','dest_lng'])

In [44]:
deliver_df=deliver_df.join(dest_df)

In [45]:
deliver_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng,dest_zip3,dest_state,dest_lat,dest_lng
0,2018-01-01,10974,07097,14,109,NY,41.1434616274125,-74.1238460876456,070,NJ,40.5833124911422,-74.2703150322948
1,2018-01-01,21057,24012,8,210,MD,39.4748982668505,-76.2084143365847,240,VA,37.2706334855373,-79.9411734251418
2,2018-01-01,21057,06492,4,210,MD,39.4748982668505,-76.2084143365847,064,CT,41.3447619004598,-73.068704647852
3,2018-01-01,21057,12288,2,210,MD,39.4748982668505,-76.2084143365847,122,NY,42.6472800295118,-73.7516930834563
4,2018-01-03,21057,3820,4,210,MD,39.4748982668505,-76.2084143365847,038,NH,43.0727535404586,-70.8040595470843
5,2018-01-03,08837,,2,088,NJ,40.6240218011197,-74.8843774239638,,,,
6,2018-01-03,06492,,4,064,CT,41.3447619004598,-73.068704647852,,,,
7,2018-01-03,10533,13760,6,105,NY,41.2922361699564,-73.7604420299132,137,NY,42.2343589257587,-75.5390075382465
8,2018-01-03,11096,,8133,110,NY,40.7220752067917,-73.7068341419121,,,,
9,2018-01-04,06492,12205,1379,064,CT,41.3447619004598,-73.068704647852,122,NY,42.6472800295118,-73.7516930834563
10,2018-01-04,06492,17104,2716,064,CT,41.3447619004598,-73.068704647852,171,PA,40.2595772715771,-76.8875671218581
11,2018-01-04,06492,11714,285,064,CT,41.3447619004598,-73.068704647852,117,NY,40.6819634281226,-73.4125545304573
12,2018-01-04,46037,14624,47370,460,IN,40.2490326631515,-85.6604766032736,146,NY,43.1591428523363,-77.6068194844908
13,2018-01-04,46037,21075,457194,460,IN,40.2490326631515,-85.6604766032736,210,MD,39.4748982668505,-76.2084143365847
14,2018-01-04,06492,13220,523,064,CT,41.3447619004598,-73.068704647852,132,NY,43.0435782151902,-76.1507035299336
15,2018-01-04,06492,14624,1519,064,CT,41.3447619004598,-73.068704647852,146,NY,43.1591428523363,-77.6068194844908
16,2018-01-04,06492,14206,1402,064,CT,41.3447619004598,-73.068704647852,142,NY,42.8965886623808,-78.8865218406153
17,2018-01-04,06492,16335,523,064,CT,41.3447619004598,-73.068704647852,163,PA,41.4542864255809,-79.6519755218344
18,2018-01-04,06492,23323,2072,064,CT,41.3447619004598,-73.068704647852,233,VA,37.2548440359096,-75.7987198574783
19,2018-01-04,46037,3106,47654,460,IN,40.2490326631515,-85.6604766032736,031,NH,42.9885494067885,-71.4658168318337
20,2018-01-05,46037,19014,434941,460,IN,40.2490326631515,-85.6604766032736,190,PA,40.1269047717822,-75.1256831129385
21,2018-01-07,10001,24022,3,100,NY,40.7505956027072,-73.9969904238369,240,VA,37.2706334855373,-79.9411734251418
22,2018-01-08,21057,24022,3,210,MD,39.4748982668505,-76.2084143365847,240,VA,37.2706334855373,-79.9411734251418
23,2018-01-09,43068,19116,54,430,OH,40.0879778724422,-82.6129450831437,191,PA,39.9526139495128,-75.183696779919
24,2018-01-10,21057,08650,1,210,MD,39.4748982668505,-76.2084143365847,086,NJ,40.2200553459778,-74.7606863536026
25,2018-01-10,21057,02904,2,210,MD,39.4748982668505,-76.2084143365847,029,RI,41.8258558538419,-71.4134288124013
26,2018-01-10,21057,19116,1,210,MD,39.4748982668505,-76.2084143365847,191,PA,39.9526139495128,-75.183696779919
27,2018-01-15,06492,15136,9,064,CT,41.3447619004598,-73.068704647852,151,PA,40.5804379499168,-79.9554146477495
28,2018-01-15,06492,25015,41,064,CT,41.3447619004598,-73.068704647852,250,WV,38.251464922047,-81.771408820272
29,2018-01-15,17055,,1759,170,PA,40.5266561258918,-77.8269602130124,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
1887,2018-12-27,07904,21233,22,079,NJ,40.7149350827677,-74.3650397802954,212,MD,39.2939663221704,-76.6223873270678
1888,2018-12-27,17011,20799,5,170,PA,40.5266561258918,-77.8269602130124,207,MD,39.1250801086426,-76.8025207519531
1889,2018-12-27,11111,15086,332,111,NY,40.7458765271783,-73.9401086213694,150,PA,40.5931045064299,-80.3210143620504
1890,2018-12-27,07904,17107,41,079,NJ,40.7149350827677,-74.3650397802954,171,PA,40.2595772715771,-76.8875671218581
1891,2018-12-27,17011,2762,33,170,PA,40.5266561258918,-77.8269602130124,027,MA,41.784464601322,-71.0607687937182
1892,2018-12-27,11413,15136,1,114,NY,40.7049329101236,-73.7938723442845,151,PA,40.5804379499168,-79.9554146477495
1893,2018-12-27,07904,25309,43,079,NJ,40.7149350827677,-74.3650397802954,253,WV,38.3510365905497,-81.6282391249495
1894,2018-12-27,17011,21233,5,170,PA,40.5266561258918,-77.8269602130124,212,MD,39.2939663221704,-76.6223873270678
1895,2018-12-27,11111,15095,258,111,NY,40.7458765271783,-73.9401086213694,150,PA,40.5931045064299,-80.3210143620504
1896,2018-12-27,07904,6457,185,079,NJ,40.7149350827677,-74.3650397802954,064,CT,41.3447619004598,-73.068704647852
1897,2018-12-27,07904,25015,30,079,NJ,40.7149350827677,-74.3650397802954,250,WV,38.251464922047,-81.771408820272
1898,2018-12-27,17011,17604,3,170,PA,40.5266561258918,-77.8269602130124,176,PA,40.0730558106315,-76.3141886839793
1899,2018-12-27,17011,14624,24,170,PA,40.5266561258918,-77.8269602130124,146,NY,43.1591428523363,-77.6068194844908
1900,2018-12-27,07904,23501,5,079,NJ,40.7149350827677,-74.3650397802954,235,VA,36.8517460063432,-76.2800020807876
1901,2018-12-27,17011,46037,915,170,PA,40.5266561258918,-77.8269602130124,460,IN,40.2490326631515,-85.6604766032736
1902,2018-12-27,17011,23222,30,170,PA,40.5266561258918,-77.8269602130124,232,VA,37.5392326292499,-77.4374487131616
1903,2018-12-27,07904,12205,64,079,NJ,40.7149350827677,-74.3650397802954,122,NY,42.6472800295118,-73.7516930834563
1904,2018-12-27,17011,15095,13,170,PA,40.5266561258918,-77.8269602130124,150,PA,40.5931045064299,-80.3210143620504
1905,2018-12-27,07904,13220,45,079,NJ,40.7149350827677,-74.3650397802954,132,NY,43.0435782151902,-76.1507035299336
1906,2018-12-27,07904,8110,21,079,NJ,40.7149350827677,-74.3650397802954,081,NJ,39.9460607680924,-75.121656324572
1907,2018-12-27,07904,04074,14,079,NJ,40.7149350827677,-74.3650397802954,040,ME,43.530478933588,-70.9212281508382
1908,2018-12-27,17011,23323,23,170,PA,40.5266561258918,-77.8269602130124,233,VA,37.2548440359096,-75.7987198574783
1909,2018-12-27,11111,25015,199,111,NY,40.7458765271783,-73.9401086213694,250,WV,38.251464922047,-81.771408820272
1910,2018-12-27,07904,17104,142,079,NJ,40.7149350827677,-74.3650397802954,171,PA,40.2595772715771,-76.8875671218581
1911,2018-12-27,07904,7001,271,079,NJ,40.7149350827677,-74.3650397802954,070,NJ,40.5833124911422,-74.2703150322948
1912,2018-12-27,17011,04444,4,170,PA,40.5266561258918,-77.8269602130124,044,ME,44.8496480032224,-68.8459384951881
1913,2018-12-27,07904,19014,535,079,NJ,40.7149350827677,-74.3650397802954,190,PA,40.1269047717822,-75.1256831129385
1914,2018-12-28,11111,04074,1,111,NY,40.7458765271783,-73.9401086213694,040,ME,43.530478933588,-70.9212281508382
1915,2018-12-28,21152,04444,2,211,MD,39.6865546812135,-76.8461063568031,044,ME,44.8496480032224,-68.8459384951881
1916,2018-12-28,11111,24012,1,111,NY,40.7458765271783,-73.9401086213694,240,VA,37.2706334855373,-79.9411734251418

In [46]:
deliver_df.to_sql(con=engine, name='deliver_package_info', if_exists='replace')

### decode return origin

In [47]:
result=engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count from return_package_info_update')
return_df = pd.DataFrame(result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [48]:
return_tmp=decodezip3(return_df['originfacilityzip'],zip3_dic)

\N \N
\N \N
0 0
\N \N
\N \N
\N \N
0 0
0 0
\N \N
\N \N
0 0
\N \N
\N \N
0 0
\N \N
0 0
\N \N
\N \N
0 0
0 0
\N \N
\N \N
\N \N
0 0
0 0
\N \N
0 0
\N \N
0 0
\N \N
\N \N
\N \N
\N \N
0 0
\N \N
\N \N
\N \N
\N \N
0 0
\N \N
\N \N
\N \N
0 0
\N \N
\N \N
\N \N
\N \N
\N \N
0 0
\N \N
0 0
\N \N
0 0
\N \N
\N \N
\N \N
0 0
0 0
0 0
0 0
0 0
\N \N
\N \N
0 0
\N \N

In [28]:
tmp_df=pd.DataFrame(return_tmp,columns=['origin_zip3','origin_state','origin_lat','origin_lng'])

In [29]:
return_df=return_df.join(tmp_df)

### decode return destination

In [30]:
return_tmp=decodezip3(return_df['destinationfacilityzip'],zip3_dic)

In [31]:
tmp_df=pd.DataFrame(return_tmp,columns=['dest_zip3','dest_state','dest_lat','dest_lng'])

In [32]:
return_df=return_df.join(tmp_df)

In [33]:
return_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng,dest_zip3,dest_state,dest_lat,dest_lng
0,2018-01-02,15930,27801,2,159,PA,40.3278437185358,-78.9138177538114,278,NC,35.911301017443,-77.7362497363615
1,2018-01-02,23222,07836,1,232,VA,37.5392326292499,-77.4374487131616,078,NJ,40.9151229858398,-74.5807952880859
2,2018-01-02,4092,07836,4,040,ME,43.530478933588,-70.9212281508382,078,NJ,40.9151229858398,-74.5807952880859
3,2018-01-02,01472,52404,1,014,MA,42.5853946189292,-71.8170603313981,524,IA,41.9754515759122,-91.6587232808614
4,2018-01-02,15930,17699,2,159,PA,40.3278437185358,-78.9138177538114,176,PA,40.0730558106315,-76.3141886839793
5,2018-01-02,20676,21704,1,206,MD,38.6176487130023,-76.8552682490031,217,MD,39.4477721717067,-77.3342903346635
6,2018-01-02,08880,16368,1,088,NJ,40.6240218011197,-74.8843774239638,163,PA,41.4542864255809,-79.6519755218344
7,2018-01-02,20676,46037,1,206,MD,38.6176487130023,-76.8552682490031,460,IN,40.2490326631515,-85.6604766032736
8,2018-01-02,07721,21704,1,077,NJ,40.3606127258978,-74.0780750505036,217,MD,39.4477721717067,-77.3342903346635
9,2018-01-02,15930,30349,1,159,PA,40.3278437185358,-78.9138177538114,303,GA,33.7554224110405,-84.3904423185221
10,2018-01-02,7094,18702,88,070,NJ,40.5833124911422,-74.2703150322948,187,PA,41.2433794220387,-75.885391254118
11,2018-01-02,21075,92551,2976,210,MD,39.4748982668505,-76.2084143365847,925,CA,33.9962289444077,-117.372113197087
12,2018-01-02,20676,16368,1,206,MD,38.6176487130023,-76.8552682490031,163,PA,41.4542864255809,-79.6519755218344
13,2018-01-02,16515,21704,2,165,PA,42.1177593663611,-80.0957427226773,217,MD,39.4477721717067,-77.3342903346635
14,2018-01-02,15035,17022,1,150,PA,40.5931045064299,-80.3210143620504,170,PA,40.5266561258918,-77.8269602130124
15,2018-01-02,20676,76177,1,206,MD,38.6176487130023,-76.8552682490031,761,TX,32.745762503794,-97.3281747471537
16,2018-01-02,6457,07836,42,064,CT,41.3447619004598,-73.068704647852,078,NJ,40.9151229858398,-74.5807952880859
17,2018-01-02,15930,46037,4,159,PA,40.3278437185358,-78.9138177538114,460,IN,40.2490326631515,-85.6604766032736
18,2018-01-02,20676,17699,1,206,MD,38.6176487130023,-76.8552682490031,176,PA,40.0730558106315,-76.3141886839793
19,2018-01-03,20658,16368,1,206,MD,38.6176487130023,-76.8552682490031,163,PA,41.4542864255809,-79.6519755218344
20,2018-01-03,04074,23230,3,040,ME,43.530478933588,-70.9212281508382,232,VA,37.5392326292499,-77.4374487131616
21,2018-01-03,05001,21057,9,050,VT,43.6747130026572,-72.3860024850608,210,MD,39.4748982668505,-76.2084143365847
22,2018-01-03,13121,16368,3,131,NY,42.5994546303793,-76.0640448226187,163,PA,41.4542864255809,-79.6519755218344
23,2018-01-03,07699,21057,2,076,NJ,40.8890286852354,-74.0457692553894,210,MD,39.4748982668505,-76.2084143365847
24,2018-01-03,04444,17554,1,044,ME,44.8496480032224,-68.8459384951881,175,PA,40.1567631818116,-76.2045168810913
25,2018-01-03,15035,16368,1,150,PA,40.5931045064299,-80.3210143620504,163,PA,41.4542864255809,-79.6519755218344
26,2018-01-03,20658,76177,1,206,MD,38.6176487130023,-76.8552682490031,761,TX,32.745762503794,-97.3281747471537
27,2018-01-03,13121,46037,1,131,NY,42.5994546303793,-76.0640448226187,460,IN,40.2490326631515,-85.6604766032736
28,2018-01-03,15035,30349,1,150,PA,40.5931045064299,-80.3210143620504,303,GA,33.7554224110405,-84.3904423185221
29,2018-01-03,23323,18702,2,233,VA,37.2548440359096,-75.7987198574783,187,PA,41.2433794220387,-75.885391254118
...,...,...,...,...,...,...,...,...,...,...,...,...
4965,2018-12-27,06491,16368,2,064,CT,41.3447619004598,-73.068704647852,163,PA,41.4542864255809,-79.6519755218344
4966,2018-12-27,06491,08837,2,064,CT,41.3447619004598,-73.068704647852,088,NJ,40.6240218011197,-74.8843774239638
4967,2018-12-27,19176,15672,27,191,PA,39.9526139495128,-75.183696779919,156,PA,40.3162370614182,-79.5350161954073
4968,2018-12-27,03103,21801,9,031,NH,42.9885494067885,-71.4658168318337,218,MD,38.3759221931837,-75.643197513886
4969,2018-12-27,06247,18640,1,062,CT,41.7116675054123,-72.209578732112,186,PA,41.1823690190279,-75.7524397228504
4970,2018-12-27,20714,93012,1,207,MD,39.1250801086426,-76.8025207519531,930,CA,34.3729934692383,-119.306915283203
4971,2018-12-27,7001,06037,3,070,NJ,40.5833124911422,-74.2703150322948,060,CT,41.791323312423,-72.8538070382769
4972,2018-12-27,06491,21130,4,064,CT,41.3447619004598,-73.068704647852,211,MD,39.6865546812135,-76.8461063568031
4973,2018-12-27,7094,20774,30,070,NJ,40.5833124911422,-74.2703150322948,207,MD,39.1250801086426,-76.8025207519531
4974,2018-12-27,7206,20774,1,072,NJ,40.6705538121771,-74.177558305216,207,MD,39.1250801086426,-76.8025207519531
4975,2018-12-27,06491,76177,1,064,CT,41.3447619004598,-73.068704647852,761,TX,32.745762503794,-97.3281747471537
4976,2018-12-28,20799,11096,1216,207,MD,39.1250801086426,-76.8025207519531,110,NY,40.7220752067917,-73.7068341419121
4977,2018-12-28,11714,11413,1,117,NY,40.6819634281226,-73.4125545304573,114,NY,40.7049329101236,-73.7938723442845
4978,2018-12-28,21075,20774,32,210,MD,39.4748982668505,-76.2084143365847,207,MD,39.1250801086426,-76.8025207519531
4979,2018-12-28,10610,20774,2,106,NY,41.032704037141,-73.7650821954244,207,MD,39.1250801086426,-76.8025207519531
4980,2018-12-28,06910,20774,4,069,CT,41.0536387488792,-73.5380348358793,207,MD,39.1250801086426,-76.8025207519531
4981,2018-12-28,11599,20774,2,115,NY,40.7467145052922,-73.6395425596232,207,MD,39.1250801086426,-76.8025207519531
4982,2018-12-28,20799,20774,7,207,MD,39.1250801086426,-76.8025207519531,207,MD,39.1250801086426,-76.8025207519531
4983,2018-12-28,08031,20774,1,080,NJ,39.5518083812818,-75.3523123924866,207,MD,39.1250801086426,-76.8025207519531
4984,2018-12-28,23150,20774,1,231,VA,37.7104569783371,-77.8364615182062,207,MD,39.1250801086426,-76.8025207519531
4985,2018-12-28,08031,46037,14884,080,NJ,39.5518083812818,-75.3523123924866,460,IN,40.2490326631515,-85.6604766032736
4986,2018-12-28,20799,07094,846,207,MD,39.1250801086426,-76.8025207519531,070,NJ,40.5833124911422,-74.2703150322948
4987,2018-12-28,08650,20774,3,086,NJ,40.2200553459778,-74.7606863536026,207,MD,39.1250801086426,-76.8025207519531
4988,2018-12-28,11714,17527,1,117,NY,40.6819634281226,-73.4125545304573,175,PA,40.1567631818116,-76.2045168810913
4989,2018-12-28,07097,20774,7,070,NJ,40.5833124911422,-74.2703150322948,207,MD,39.1250801086426,-76.8025207519531
4990,2018-12-28,19176,20774,2,191,PA,39.9526139495128,-75.183696779919,207,MD,39.1250801086426,-76.8025207519531
4991,2018-12-28,11714,27801,6,117,NY,40.6819634281226,-73.4125545304573,278,NC,35.911301017443,-77.7362497363615
4992,2018-12-30,30349,06037,8,303,GA,33.7554224110405,-84.3904423185221,060,CT,41.791323312423,-72.8538070382769
4993,2018-12-31,46037,06037,7,460,IN,40.2490326631515,-85.6604766032736,060,CT,41.791323312423,-72.8538070382769
4994,2019-01-10,46037,46037,3748090,460,IN,40.2490326631515,-85.6604766032736,460,IN,40.2490326631515,-85.6604766032736

In [34]:
# return_df.to_sql(con=engine, name='return_package_info', if_exists='replace',dtype=['datetime.date','text','text','bigint(20)','text','text','text','double','double','text','text','text','double','double'])
return_df.to_sql(con=engine, name='return_package_info', if_exists='replace')

## Detect zip code which cannot be decode

In [5]:
zip3_dic={}
zip3_file='/home/fusion/jupyterhub-notebooks/Cornell_PB_NE_Hub/references/zip3_centroids.csv'
import csv
with open(zip3_file,'r',encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        zip3_dic[row[2]]=[row[3],row[4],row[5]]

In [6]:
def decodezip3(zip3,reference):
    res=[]
    for i in zip3:
        if len(i)==3:
            i='00'+i
        elif len(i)==4:
            i='0'+i
            
        zipp=i[0:3]
        if not i:
            tmp=[zipp,'','','']
        else:
            if zipp in reference.keys():
                zipinfo=reference[zipp]
                tmp=[zipp,zipinfo[0],zipinfo[1],zipinfo[2]]
            else:
                print(zipp)
                tmp=[zipp,'','','']    
        res.append(tmp)
    return res

In [13]:
r709=engine.execute('select originfacilityzip, destinationfacilityzip, count(*) from ne_returns_data_by_day_2018 where originfacilityzip REGEXP \'^709\' or destinationfacilityzip REGEXP \'^709\'')
for _r in r709:
    print(_r)

('7094', '92407', 1711093)