In [8]:
 !pip install sqlalchemy pymysql -q

In [9]:
 !pip install sqlalchemy sql_magic -q

In [10]:
%load_ext sql_magic

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [11]:
%sql

UsageError: Line magic function `%sql` not found.

In [12]:
import pandas as pd
import numpy as np

## Write pandas df to database

In [13]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [14]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")

In [15]:
from pandas.io import sql

## Query database

In [9]:
result = engine.execute('show databases')
for _r in result:
    print(_r)

('information_schema',)
('cornell',)

In [10]:
result = engine.execute('show tables in cornell')
for _r in result:
    print(_r)

('deliver_package_info',)
('input_df',)
('ne_delivery_data_by_day_2018',)
('ne_returns_data_by_day_2018',)
('return_package_info',)
('return_package_info_update',)
('test_df',)

In [ ]:
result=engine.execute('select *, count(*) from cornell.ne_delivery_date_by_day_2018 group by originfacilityzip,destinationfacilityzip \
                        order by origindate ')

## Query first 10 delivery package data & fields name

In [61]:
result = engine.execute('select * from cornell.ne_delivery_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

(datetime.date(2018, 9, 30), 'Delivery', '362970510', '0.1950', 'Client - 2462', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082836', '0.2300', 'Client - 1216', '11096', 'Courier - Plainville', '2762')
(datetime.date(2018, 8, 14), 'Delivery', '355433187', '1.6600', 'Client - 1216', '11096', 'Courier - Secaucus', '7094')
(datetime.date(2018, 7, 11), 'Delivery', '350299758', '0.8800', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082834', '0.4850', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 9, 6), 'Delivery', '358082830', '15.1200', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 9), 'Delivery', '350140996', '1.3400', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 11), 'Delivery', '350286964', '0.1850', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 11), 'Delivery', '350286549', '0.8350', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')
(datetime.date(2018, 7, 9), 'Delivery', '350141099', '0.2700', 'Client - 1216', '11096', 'IND - PartnerFacility', '46037')

In [59]:
result = engine.execute('describe cornell.deliver_package_info')
for _r in result:
    print(_r)

('index', 'bigint(20)', 'YES', 'MUL', None, '')
('origindate', 'date', 'YES', '', None, '')
('originfacilityzip', 'text', 'YES', '', None, '')
('destinationfacilityzip', 'text', 'YES', '', None, '')
('count', 'bigint(20)', 'YES', '', None, '')

## How many delivery data do we have

In [11]:
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018')
for _r in result:
    print(_r)

(61916290,)

## Daily demand of delivery packages

In [61]:
result = engine.execute('select origindate, count(*) from cornell.ne_delivery_data_by_day_2018 group by origindate')
for _r in result:
    print(_r)

KeyboardInterrupt:

### The number of deliver packages from customer warehouse to USPS & store in a new table "deliver_package_info"

In [23]:
# The # of packages from customer warehouse to USPS 
deliver_result = engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count(*) from cornell.ne_delivery_data_by_day_2018 \
                        group by origindate,originfacilityzip,destinationfacilityzip')
deliver_df = pd.DataFrame(deliver_result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [24]:
deliver_df

        origindate originfacilityzip destinationfacilityzip  count
0       2017-12-31             17055                            56
1       2017-12-31             30349                            33
2       2018-01-01             06492                   7094      1
3       2018-01-01             10974                  01152      2
4       2018-01-01             10974                  01546      9
5       2018-01-01             10974                  01889      2
6       2018-01-01             10974                  02205      1
7       2018-01-01             10974                  02904      1
8       2018-01-01             10974                  04074      5
9       2018-01-01             10974                  07097      1
10      2018-01-01             10974                  12205     15
11      2018-01-01             10974                  12288      1
12      2018-01-01             10974                  12555      7
13      2018-01-01             10974                  13208     13
14      2018-01-01             10974                  13220      4
15      2018-01-01             10974                  13760      3
16      2018-01-01             10974                  14206     10
17      2018-01-01             10974                  14624     12
18      2018-01-01             10974                  15203     52
19      2018-01-01             10974                  16335      1
20      2018-01-01             10974                  17104     17
21      2018-01-01             10974                  17107      2
22      2018-01-01             10974                  17604      1
23      2018-01-01             10974                  18002      2
24      2018-01-01             10974                  19014      1
25      2018-01-01             10974                  20790      4
26      2018-01-01             10974                  20799      5
27      2018-01-01             10974                  21075    352
28      2018-01-01             10974                  21090      1
29      2018-01-01             10974                  21233      2
...            ...               ...                    ...    ...
171595  2019-01-01             46037                  15095      5
171596  2019-01-01             46037                  15203     18
171597  2019-01-01             46037                  17104     15
171598  2019-01-01             46037                  17107      6
171599  2019-01-01             46037                  17604      3
171600  2019-01-01             46037                  18002      3
171601  2019-01-01             46037                  19014     58
171602  2019-01-01             46037                  19720      1
171603  2019-01-01             46037                  20790      1
171604  2019-01-01             46037                  21075     55
171605  2019-01-01             46037                  21233      1
171606  2019-01-01             46037                  23150      6
171607  2019-01-01             46037                  23222      8
171608  2019-01-01             46037                  23323      6
171609  2019-01-01             46037                  23501      1
171610  2019-01-01             46037                  24012     15
171611  2019-01-01             46037                  24022      6
171612  2019-01-01             46037                  25015      4
171613  2019-01-01             46037                  25309      3
171614  2019-01-01             46037                   2762     28
171615  2019-01-01             46037                  30349    348
171616  2019-01-01             46037                   3106      3
171617  2019-01-01             46037                   3820      1
171618  2019-01-01             46037                   4092      2
171619  2019-01-01             46037                  46037   1016
171620  2019-01-01             46037                   6457     19
171621  2019-01-01             46037                   7001     32
171622  2019-01-01             46037                   7094     76
171623  2019-01-01             46037                   7206      5
171624  2019-01-01             46037                   8110      1

[171625 rows x 4 columns]

In [25]:
deliver_df.to_sql(con=engine, name='deliver_package_info', 
                if_exists='replace')

## Query first 10 return package data & fields name

In [54]:
result = engine.execute('select * from cornell.ne_returns_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

(datetime.date(2019, 1, 10), 'Return', 420456129, 0.1168, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420156653, 3.35, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420161921, 0.9369, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162311, 0.2733, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162321, 0.6128, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162133, 0.3108, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2018, 5, 25), 'Return', 394568185, 1.7835, 'ATL - PartnerFacility', '30349', 'Client - 52909', '92407')
(datetime.date(2018, 8, 27), 'Return', 405004216, 5.105, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')
(datetime.date(2018, 8, 27), 'Return', 404860180, 10.68, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')
(datetime.date(2018, 5, 28), 'Return', 394769055, 0.415, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')

In [55]:
result = engine.execute('describe cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

('origindate', 'date', 'YES', '', None, '')
('packagetype', 'varchar(50)', 'YES', '', None, '')
('packagekey', 'bigint(20)', 'YES', '', None, '')
('actualweight', 'double', 'YES', '', None, '')
('originfacilitymodified', 'varchar(50)', 'YES', '', None, '')
('originfacilityzip', 'varchar(50)', 'YES', '', None, '')
('destinationfacility', 'varchar(50)', 'YES', '', None, '')
('destinationfacilityzip', 'varchar(50)', 'YES', '', None, '')

## How many return data do we have

In [9]:
result = engine.execute('select count(*) from cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

(33276614,)

## Daily demand of return packages

In [ ]:
result = engine.execute('select origindate, count(*) from cornell.ne_returns_data_by_day_2018 group by origindate')
for _r in result:
    print(_r)

### The number of daily return packages from USPS to customer warehouse & store in a new table "return_package_info"

In [16]:
return_result = engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count(*) from cornell.ne_returns_data_by_day_2018 \
                        group by origindate,originfacilityzip,destinationfacilityzip ')
return_df = pd.DataFrame(return_result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [17]:
return_df.to_sql(con=engine, name='return_package_info', if_exists='replace')

In [18]:
return_df

        origindate originfacilityzip destinationfacilityzip  count
0       2017-12-31             01152                  08817      1
1       2017-12-31             01152                  17527      1
2       2017-12-31             01152                  17699      1
3       2017-12-31             01152                  27801      1
4       2017-12-31             01889                  01460      1
5       2017-12-31             01889                  08817      1
6       2017-12-31             01889                  08831      1
7       2017-12-31             01889                  08837      1
8       2017-12-31             01889                  11096      1
9       2017-12-31             01889                  16368      1
10      2017-12-31             01889                  17022      4
11      2017-12-31             01889                  17055      1
12      2017-12-31             01889                  17527      2
13      2017-12-31             01889                  17699     12
14      2017-12-31             01889                  18640      1
15      2017-12-31             01889                  27801     15
16      2017-12-31             01889                  30349      9
17      2017-12-31             01889                  46037     22
18      2017-12-31             01889                  75039      3
19      2017-12-31             01889                  76177      4
20      2017-12-31             01889                  92407      1
21      2017-12-31             01889                  92551      1
22      2017-12-31             01889                  93012      5
23      2017-12-31             02205                  07094      1
24      2017-12-31             02205                  07836      1
25      2017-12-31             02205                  08817      1
26      2017-12-31             02205                  08831      4
27      2017-12-31             02205                  08837      1
28      2017-12-31             02205                  11096      4
29      2017-12-31             02205                  16368      5
...            ...               ...                    ...    ...
390451  2019-01-08             30349                  17527      1
390452  2019-01-08             30349                  17699      9
390453  2019-01-08             30349                  18015      1
390454  2019-01-08             30349                  27801      5
390455  2019-01-08             30349                  30349     22
390456  2019-01-08             30349                  46037      9
390457  2019-01-08             30349                  52404      1
390458  2019-01-08             30349                  76177      3
390459  2019-01-08             46037                  08831      1
390460  2019-01-08             46037                  11096      2
390461  2019-01-08             46037                  11413      2
390462  2019-01-08             46037                  16368      1
390463  2019-01-08             46037                  17527      1
390464  2019-01-08             46037                  17699      3
390465  2019-01-08             46037                  27801      1
390466  2019-01-08             46037                  30349      3
390467  2019-01-08             46037                  46037      8
390468  2019-01-08             46037                  52404      3
390469  2019-01-09             30349                  16368      1
390470  2019-01-09             30349                  30349      2
390471  2019-01-09             30349                  76177      1
390472  2019-01-09             46037                  27801      3
390473  2019-01-09             46037                  30349      2
390474  2019-01-09             46037                  46037      9
390475  2019-01-09             46037                  52404      4
390476  2019-01-10             46037                  16368      1
390477  2019-01-10             46037                  17699      1
390478  2019-01-10             46037                  27801      3
390479  2019-01-10             46037                  46037     18
390480  2019-01-10             46037                  52404      5

[390481 rows x 4 columns]

## geodecode zip3

#### zip3 reference dict

In [19]:
zip3_dic={}
zip3_file='/home/fusion/jupyterhub-notebooks/Cornell_PB_NE_Hub/references/zip3_centroids.csv'
import csv
with open(zip3_file,'r',encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        zip3_dic[row[2]]=[row[3],row[4],row[5]]

### decodezip3 function

In [20]:
def decodezip3(zip3,reference):
    res=[]
    for i in zip3:
        if len(i)==3:
            i='00'+i
        elif len(i)==4:
            i='0'+i
            
        zipp=i[0:3]
        if not i:
            tmp=[zipp,'','','']
        else:
            if zipp in reference.keys():
                zipinfo=reference[zipp]
                tmp=[zipp,zipinfo[0],zipinfo[1],zipinfo[2]]
            else:
                tmp=[zipp,'','','']    
        res.append(tmp)
    return res

### decode deliver - origin

In [17]:
result=engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count from deliver_package_info')

In [18]:
deliver_df = pd.DataFrame(result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [26]:
deliver_tmp=decodezip3(deliver_df['originfacilityzip'],zip3_dic)

In [27]:
tmp_df=pd.DataFrame(deliver_tmp,columns=['origin_zip3','origin_state','origin_lat','origin_lng'])

In [28]:
deliver_df=deliver_df.join(tmp_df)

In [29]:
deliver_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng
0,2017-12-31,17055,,56,170,PA,40.5266561258918,-77.8269602130124
1,2017-12-31,30349,,33,303,GA,33.7554224110405,-84.3904423185221
2,2018-01-01,06492,7094,1,064,CT,41.3447619004598,-73.068704647852
3,2018-01-01,10974,01152,2,109,NY,41.1434616274125,-74.1238460876456
4,2018-01-01,10974,01546,9,109,NY,41.1434616274125,-74.1238460876456
5,2018-01-01,10974,01889,2,109,NY,41.1434616274125,-74.1238460876456
6,2018-01-01,10974,02205,1,109,NY,41.1434616274125,-74.1238460876456
7,2018-01-01,10974,02904,1,109,NY,41.1434616274125,-74.1238460876456
8,2018-01-01,10974,04074,5,109,NY,41.1434616274125,-74.1238460876456
9,2018-01-01,10974,07097,1,109,NY,41.1434616274125,-74.1238460876456
10,2018-01-01,10974,12205,15,109,NY,41.1434616274125,-74.1238460876456
11,2018-01-01,10974,12288,1,109,NY,41.1434616274125,-74.1238460876456
12,2018-01-01,10974,12555,7,109,NY,41.1434616274125,-74.1238460876456
13,2018-01-01,10974,13208,13,109,NY,41.1434616274125,-74.1238460876456
14,2018-01-01,10974,13220,4,109,NY,41.1434616274125,-74.1238460876456
15,2018-01-01,10974,13760,3,109,NY,41.1434616274125,-74.1238460876456
16,2018-01-01,10974,14206,10,109,NY,41.1434616274125,-74.1238460876456
17,2018-01-01,10974,14624,12,109,NY,41.1434616274125,-74.1238460876456
18,2018-01-01,10974,15203,52,109,NY,41.1434616274125,-74.1238460876456
19,2018-01-01,10974,16335,1,109,NY,41.1434616274125,-74.1238460876456
20,2018-01-01,10974,17104,17,109,NY,41.1434616274125,-74.1238460876456
21,2018-01-01,10974,17107,2,109,NY,41.1434616274125,-74.1238460876456
22,2018-01-01,10974,17604,1,109,NY,41.1434616274125,-74.1238460876456
23,2018-01-01,10974,18002,2,109,NY,41.1434616274125,-74.1238460876456
24,2018-01-01,10974,19014,1,109,NY,41.1434616274125,-74.1238460876456
25,2018-01-01,10974,20790,4,109,NY,41.1434616274125,-74.1238460876456
26,2018-01-01,10974,20799,5,109,NY,41.1434616274125,-74.1238460876456
27,2018-01-01,10974,21075,352,109,NY,41.1434616274125,-74.1238460876456
28,2018-01-01,10974,21090,1,109,NY,41.1434616274125,-74.1238460876456
29,2018-01-01,10974,21233,2,109,NY,41.1434616274125,-74.1238460876456
...,...,...,...,...,...,...,...,...
171595,2019-01-01,46037,15095,5,460,IN,40.2490326631515,-85.6604766032736
171596,2019-01-01,46037,15203,18,460,IN,40.2490326631515,-85.6604766032736
171597,2019-01-01,46037,17104,15,460,IN,40.2490326631515,-85.6604766032736
171598,2019-01-01,46037,17107,6,460,IN,40.2490326631515,-85.6604766032736
171599,2019-01-01,46037,17604,3,460,IN,40.2490326631515,-85.6604766032736
171600,2019-01-01,46037,18002,3,460,IN,40.2490326631515,-85.6604766032736
171601,2019-01-01,46037,19014,58,460,IN,40.2490326631515,-85.6604766032736
171602,2019-01-01,46037,19720,1,460,IN,40.2490326631515,-85.6604766032736
171603,2019-01-01,46037,20790,1,460,IN,40.2490326631515,-85.6604766032736
171604,2019-01-01,46037,21075,55,460,IN,40.2490326631515,-85.6604766032736
171605,2019-01-01,46037,21233,1,460,IN,40.2490326631515,-85.6604766032736
171606,2019-01-01,46037,23150,6,460,IN,40.2490326631515,-85.6604766032736
171607,2019-01-01,46037,23222,8,460,IN,40.2490326631515,-85.6604766032736
171608,2019-01-01,46037,23323,6,460,IN,40.2490326631515,-85.6604766032736
171609,2019-01-01,46037,23501,1,460,IN,40.2490326631515,-85.6604766032736
171610,2019-01-01,46037,24012,15,460,IN,40.2490326631515,-85.6604766032736
171611,2019-01-01,46037,24022,6,460,IN,40.2490326631515,-85.6604766032736
171612,2019-01-01,46037,25015,4,460,IN,40.2490326631515,-85.6604766032736
171613,2019-01-01,46037,25309,3,460,IN,40.2490326631515,-85.6604766032736
171614,2019-01-01,46037,2762,28,460,IN,40.2490326631515,-85.6604766032736
171615,2019-01-01,46037,30349,348,460,IN,40.2490326631515,-85.6604766032736
171616,2019-01-01,46037,3106,3,460,IN,40.2490326631515,-85.6604766032736
171617,2019-01-01,46037,3820,1,460,IN,40.2490326631515,-85.6604766032736
171618,2019-01-01,46037,4092,2,460,IN,40.2490326631515,-85.6604766032736
171619,2019-01-01,46037,46037,1016,460,IN,40.2490326631515,-85.6604766032736
171620,2019-01-01,46037,6457,19,460,IN,40.2490326631515,-85.6604766032736
171621,2019-01-01,46037,7001,32,460,IN,40.2490326631515,-85.6604766032736
171622,2019-01-01,46037,7094,76,460,IN,40.2490326631515,-85.6604766032736
171623,2019-01-01,46037,7206,5,460,IN,40.2490326631515,-85.6604766032736
171624,2019-01-01,46037,8110,1,460,IN,40.2490326631515,-85.6604766032736

### decode deliver - dest

In [30]:
destination_tmp=decodezip3(deliver_df['destinationfacilityzip'],zip3_dic)

In [31]:
dest_df=pd.DataFrame(destination_tmp,columns=['dest_zip3','dest_state','dest_lat','dest_lng'])

In [32]:
deliver_df=deliver_df.join(dest_df)

In [33]:
deliver_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng,dest_zip3,dest_state,dest_lat,dest_lng
0,2017-12-31,17055,,56,170,PA,40.5266561258918,-77.8269602130124,,,,
1,2017-12-31,30349,,33,303,GA,33.7554224110405,-84.3904423185221,,,,
2,2018-01-01,06492,7094,1,064,CT,41.3447619004598,-73.068704647852,070,NJ,40.5833124911422,-74.2703150322948
3,2018-01-01,10974,01152,2,109,NY,41.1434616274125,-74.1238460876456,011,MA,42.1056970748294,-72.5980788159072
4,2018-01-01,10974,01546,9,109,NY,41.1434616274125,-74.1238460876456,015,MA,42.1968723825208,-71.8453871667191
5,2018-01-01,10974,01889,2,109,NY,41.1434616274125,-74.1238460876456,018,MA,42.485950411217,-71.1553696696814
6,2018-01-01,10974,02205,1,109,NY,41.1434616274125,-74.1238460876456,022,MA,42.3582224850777,-71.0584272136915
7,2018-01-01,10974,02904,1,109,NY,41.1434616274125,-74.1238460876456,029,RI,41.8258558538419,-71.4134288124013
8,2018-01-01,10974,04074,5,109,NY,41.1434616274125,-74.1238460876456,040,ME,43.530478933588,-70.9212281508382
9,2018-01-01,10974,07097,1,109,NY,41.1434616274125,-74.1238460876456,070,NJ,40.5833124911422,-74.2703150322948
10,2018-01-01,10974,12205,15,109,NY,41.1434616274125,-74.1238460876456,122,NY,42.6472800295118,-73.7516930834563
11,2018-01-01,10974,12288,1,109,NY,41.1434616274125,-74.1238460876456,122,NY,42.6472800295118,-73.7516930834563
12,2018-01-01,10974,12555,7,109,NY,41.1434616274125,-74.1238460876456,125,NY,41.8598590951481,-73.5602758628509
13,2018-01-01,10974,13208,13,109,NY,41.1434616274125,-74.1238460876456,132,NY,43.0435782151902,-76.1507035299336
14,2018-01-01,10974,13220,4,109,NY,41.1434616274125,-74.1238460876456,132,NY,43.0435782151902,-76.1507035299336
15,2018-01-01,10974,13760,3,109,NY,41.1434616274125,-74.1238460876456,137,NY,42.2343589257587,-75.5390075382465
16,2018-01-01,10974,14206,10,109,NY,41.1434616274125,-74.1238460876456,142,NY,42.8965886623808,-78.8865218406153
17,2018-01-01,10974,14624,12,109,NY,41.1434616274125,-74.1238460876456,146,NY,43.1591428523363,-77.6068194844908
18,2018-01-01,10974,15203,52,109,NY,41.1434616274125,-74.1238460876456,152,PA,40.473674,-79.955872
19,2018-01-01,10974,16335,1,109,NY,41.1434616274125,-74.1238460876456,163,PA,41.4542864255809,-79.6519755218344
20,2018-01-01,10974,17104,17,109,NY,41.1434616274125,-74.1238460876456,171,PA,40.2595772715771,-76.8875671218581
21,2018-01-01,10974,17107,2,109,NY,41.1434616274125,-74.1238460876456,171,PA,40.2595772715771,-76.8875671218581
22,2018-01-01,10974,17604,1,109,NY,41.1434616274125,-74.1238460876456,176,PA,40.0730558106315,-76.3141886839793
23,2018-01-01,10974,18002,2,109,NY,41.1434616274125,-74.1238460876456,180,PA,40.4692977017575,-75.6482993536905
24,2018-01-01,10974,19014,1,109,NY,41.1434616274125,-74.1238460876456,190,PA,40.1269047717822,-75.1256831129385
25,2018-01-01,10974,20790,4,109,NY,41.1434616274125,-74.1238460876456,207,MD,39.1250801086426,-76.8025207519531
26,2018-01-01,10974,20799,5,109,NY,41.1434616274125,-74.1238460876456,207,MD,39.1250801086426,-76.8025207519531
27,2018-01-01,10974,21075,352,109,NY,41.1434616274125,-74.1238460876456,210,MD,39.4748982668505,-76.2084143365847
28,2018-01-01,10974,21090,1,109,NY,41.1434616274125,-74.1238460876456,210,MD,39.4748982668505,-76.2084143365847
29,2018-01-01,10974,21233,2,109,NY,41.1434616274125,-74.1238460876456,212,MD,39.2939663221704,-76.6223873270678
...,...,...,...,...,...,...,...,...,...,...,...,...
171595,2019-01-01,46037,15095,5,460,IN,40.2490326631515,-85.6604766032736,150,PA,40.5931045064299,-80.3210143620504
171596,2019-01-01,46037,15203,18,460,IN,40.2490326631515,-85.6604766032736,152,PA,40.473674,-79.955872
171597,2019-01-01,46037,17104,15,460,IN,40.2490326631515,-85.6604766032736,171,PA,40.2595772715771,-76.8875671218581
171598,2019-01-01,46037,17107,6,460,IN,40.2490326631515,-85.6604766032736,171,PA,40.2595772715771,-76.8875671218581
171599,2019-01-01,46037,17604,3,460,IN,40.2490326631515,-85.6604766032736,176,PA,40.0730558106315,-76.3141886839793
171600,2019-01-01,46037,18002,3,460,IN,40.2490326631515,-85.6604766032736,180,PA,40.4692977017575,-75.6482993536905
171601,2019-01-01,46037,19014,58,460,IN,40.2490326631515,-85.6604766032736,190,PA,40.1269047717822,-75.1256831129385
171602,2019-01-01,46037,19720,1,460,IN,40.2490326631515,-85.6604766032736,197,DE,39.5851778604444,-75.6993444178467
171603,2019-01-01,46037,20790,1,460,IN,40.2490326631515,-85.6604766032736,207,MD,39.1250801086426,-76.8025207519531
171604,2019-01-01,46037,21075,55,460,IN,40.2490326631515,-85.6604766032736,210,MD,39.4748982668505,-76.2084143365847
171605,2019-01-01,46037,21233,1,460,IN,40.2490326631515,-85.6604766032736,212,MD,39.2939663221704,-76.6223873270678
171606,2019-01-01,46037,23150,6,460,IN,40.2490326631515,-85.6604766032736,231,VA,37.7104569783371,-77.8364615182062
171607,2019-01-01,46037,23222,8,460,IN,40.2490326631515,-85.6604766032736,232,VA,37.5392326292499,-77.4374487131616
171608,2019-01-01,46037,23323,6,460,IN,40.2490326631515,-85.6604766032736,233,VA,37.2548440359096,-75.7987198574783
171609,2019-01-01,46037,23501,1,460,IN,40.2490326631515,-85.6604766032736,235,VA,36.8517460063432,-76.2800020807876
171610,2019-01-01,46037,24012,15,460,IN,40.2490326631515,-85.6604766032736,240,VA,37.2706334855373,-79.9411734251418
171611,2019-01-01,46037,24022,6,460,IN,40.2490326631515,-85.6604766032736,240,VA,37.2706334855373,-79.9411734251418
171612,2019-01-01,46037,25015,4,460,IN,40.2490326631515,-85.6604766032736,250,WV,38.251464922047,-81.771408820272
171613,2019-01-01,46037,25309,3,460,IN,40.2490326631515,-85.6604766032736,253,WV,38.3510365905497,-81.6282391249495
171614,2019-01-01,46037,2762,28,460,IN,40.2490326631515,-85.6604766032736,027,MA,41.784464601322,-71.0607687937182
171615,2019-01-01,46037,30349,348,460,IN,40.2490326631515,-85.6604766032736,303,GA,33.7554224110405,-84.3904423185221
171616,2019-01-01,46037,3106,3,460,IN,40.2490326631515,-85.6604766032736,031,NH,42.9885494067885,-71.4658168318337
171617,2019-01-01,46037,3820,1,460,IN,40.2490326631515,-85.6604766032736,038,NH,43.0727535404586,-70.8040595470843
171618,2019-01-01,46037,4092,2,460,IN,40.2490326631515,-85.6604766032736,040,ME,43.530478933588,-70.9212281508382
171619,2019-01-01,46037,46037,1016,460,IN,40.2490326631515,-85.6604766032736,460,IN,40.2490326631515,-85.6604766032736
171620,2019-01-01,46037,6457,19,460,IN,40.2490326631515,-85.6604766032736,064,CT,41.3447619004598,-73.068704647852
171621,2019-01-01,46037,7001,32,460,IN,40.2490326631515,-85.6604766032736,070,NJ,40.5833124911422,-74.2703150322948
171622,2019-01-01,46037,7094,76,460,IN,40.2490326631515,-85.6604766032736,070,NJ,40.5833124911422,-74.2703150322948
171623,2019-01-01,46037,7206,5,460,IN,40.2490326631515,-85.6604766032736,072,NJ,40.6705538121771,-74.177558305216
171624,2019-01-01,46037,8110,1,460,IN,40.2490326631515,-85.6604766032736,081,NJ,39.9460607680924,-75.121656324572

In [34]:

deliver_df.to_sql(con=engine, name='deliver_package_info',
                  if_exists='replace')

### decode return origin

In [21]:
result=engine.execute('select origindate,originfacilityzip,destinationfacilityzip,count from return_package_info')
return_df = pd.DataFrame(result.fetchall(),columns=['origindate','originfacilityzip','destinationfacilityzip','count'])

In [22]:
return_tmp=decodezip3(return_df['originfacilityzip'],zip3_dic)

In [23]:
tmp_df=pd.DataFrame(return_tmp,columns=['origin_zip3','origin_state','origin_lat','origin_lng'])

In [24]:
return_df=return_df.join(tmp_df)

In [40]:
return_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng
0,2018-01-02,15930,27801,2,159,PA,40.3278437185358,-78.9138177538114
1,2018-01-02,23222,07836,1,232,VA,37.5392326292499,-77.4374487131616
2,2018-01-02,4092,07836,4,040,ME,43.530478933588,-70.9212281508382
3,2018-01-02,01472,52404,1,014,MA,42.5853946189292,-71.8170603313981
4,2018-01-02,15930,17699,2,159,PA,40.3278437185358,-78.9138177538114
5,2018-01-02,20676,21704,1,206,MD,38.6176487130023,-76.8552682490031
6,2018-01-02,08880,16368,1,088,NJ,40.6240218011197,-74.8843774239638
7,2018-01-02,20676,46037,1,206,MD,38.6176487130023,-76.8552682490031
8,2018-01-02,07721,21704,1,077,NJ,40.3606127258978,-74.0780750505036
9,2018-01-02,15930,30349,1,159,PA,40.3278437185358,-78.9138177538114
10,2018-01-02,7094,18702,88,070,NJ,40.5833124911422,-74.2703150322948
11,2018-01-02,21075,92551,2976,210,MD,39.4748982668505,-76.2084143365847
12,2018-01-02,20676,16368,1,206,MD,38.6176487130023,-76.8552682490031
13,2018-01-02,16515,21704,2,165,PA,42.1177593663611,-80.0957427226773
14,2018-01-02,15035,17022,1,150,PA,40.5931045064299,-80.3210143620504
15,2018-01-02,20676,76177,1,206,MD,38.6176487130023,-76.8552682490031
16,2018-01-02,6457,07836,42,064,CT,41.3447619004598,-73.068704647852
17,2018-01-02,15930,46037,4,159,PA,40.3278437185358,-78.9138177538114
18,2018-01-02,20676,17699,1,206,MD,38.6176487130023,-76.8552682490031
19,2018-01-03,20658,16368,1,206,MD,38.6176487130023,-76.8552682490031
20,2018-01-03,04074,23230,3,040,ME,43.530478933588,-70.9212281508382
21,2018-01-03,05001,21057,9,050,VT,43.6747130026572,-72.3860024850608
22,2018-01-03,13121,16368,3,131,NY,42.5994546303793,-76.0640448226187
23,2018-01-03,07699,21057,2,076,NJ,40.8890286852354,-74.0457692553894
24,2018-01-03,04444,17554,1,044,ME,44.8496480032224,-68.8459384951881
25,2018-01-03,15035,16368,1,150,PA,40.5931045064299,-80.3210143620504
26,2018-01-03,20658,76177,1,206,MD,38.6176487130023,-76.8552682490031
27,2018-01-03,13121,46037,1,131,NY,42.5994546303793,-76.0640448226187
28,2018-01-03,15035,30349,1,150,PA,40.5931045064299,-80.3210143620504
29,2018-01-03,23323,18702,2,233,VA,37.2548440359096,-75.7987198574783
...,...,...,...,...,...,...,...,...
4965,2018-12-27,06491,16368,2,064,CT,41.3447619004598,-73.068704647852
4966,2018-12-27,06491,08837,2,064,CT,41.3447619004598,-73.068704647852
4967,2018-12-27,19176,15672,27,191,PA,39.9526139495128,-75.183696779919
4968,2018-12-27,03103,21801,9,031,NH,42.9885494067885,-71.4658168318337
4969,2018-12-27,06247,18640,1,062,CT,41.7116675054123,-72.209578732112
4970,2018-12-27,20714,93012,1,207,MD,39.1250801086426,-76.8025207519531
4971,2018-12-27,7001,06037,3,070,NJ,40.5833124911422,-74.2703150322948
4972,2018-12-27,06491,21130,4,064,CT,41.3447619004598,-73.068704647852
4973,2018-12-27,7094,20774,30,070,NJ,40.5833124911422,-74.2703150322948
4974,2018-12-27,7206,20774,1,072,NJ,40.6705538121771,-74.177558305216
4975,2018-12-27,06491,76177,1,064,CT,41.3447619004598,-73.068704647852
4976,2018-12-28,20799,11096,1216,207,MD,39.1250801086426,-76.8025207519531
4977,2018-12-28,11714,11413,1,117,NY,40.6819634281226,-73.4125545304573
4978,2018-12-28,21075,20774,32,210,MD,39.4748982668505,-76.2084143365847
4979,2018-12-28,10610,20774,2,106,NY,41.032704037141,-73.7650821954244
4980,2018-12-28,06910,20774,4,069,CT,41.0536387488792,-73.5380348358793
4981,2018-12-28,11599,20774,2,115,NY,40.7467145052922,-73.6395425596232
4982,2018-12-28,20799,20774,7,207,MD,39.1250801086426,-76.8025207519531
4983,2018-12-28,08031,20774,1,080,NJ,39.5518083812818,-75.3523123924866
4984,2018-12-28,23150,20774,1,231,VA,37.7104569783371,-77.8364615182062
4985,2018-12-28,08031,46037,14884,080,NJ,39.5518083812818,-75.3523123924866
4986,2018-12-28,20799,07094,846,207,MD,39.1250801086426,-76.8025207519531
4987,2018-12-28,08650,20774,3,086,NJ,40.2200553459778,-74.7606863536026
4988,2018-12-28,11714,17527,1,117,NY,40.6819634281226,-73.4125545304573
4989,2018-12-28,07097,20774,7,070,NJ,40.5833124911422,-74.2703150322948
4990,2018-12-28,19176,20774,2,191,PA,39.9526139495128,-75.183696779919
4991,2018-12-28,11714,27801,6,117,NY,40.6819634281226,-73.4125545304573
4992,2018-12-30,30349,06037,8,303,GA,33.7554224110405,-84.3904423185221
4993,2018-12-31,46037,06037,7,460,IN,40.2490326631515,-85.6604766032736
4994,2019-01-10,46037,46037,3748090,460,IN,40.2490326631515,-85.6604766032736

### decode return destination

In [25]:
return_tmp=decodezip3(return_df['destinationfacilityzip'],zip3_dic)

In [26]:
tmp_df=pd.DataFrame(return_tmp,columns=['dest_zip3','dest_state','dest_lat','dest_lng'])

In [27]:
return_df=return_df.join(tmp_df)

In [28]:
return_df

,origindate,originfacilityzip,destinationfacilityzip,count,origin_zip3,origin_state,origin_lat,origin_lng,dest_zip3,dest_state,dest_lat,dest_lng
0,2017-12-31,01152,08817,1,011,MA,42.1056970748294,-72.5980788159072,088,NJ,40.6240218011197,-74.8843774239638
1,2017-12-31,01152,17527,1,011,MA,42.1056970748294,-72.5980788159072,175,PA,40.1567631818116,-76.2045168810913
2,2017-12-31,01152,17699,1,011,MA,42.1056970748294,-72.5980788159072,176,PA,40.0730558106315,-76.3141886839793
3,2017-12-31,01152,27801,1,011,MA,42.1056970748294,-72.5980788159072,278,NC,35.911301017443,-77.7362497363615
4,2017-12-31,01889,01460,1,018,MA,42.485950411217,-71.1553696696814,014,MA,42.5853946189292,-71.8170603313981
5,2017-12-31,01889,08817,1,018,MA,42.485950411217,-71.1553696696814,088,NJ,40.6240218011197,-74.8843774239638
6,2017-12-31,01889,08831,1,018,MA,42.485950411217,-71.1553696696814,088,NJ,40.6240218011197,-74.8843774239638
7,2017-12-31,01889,08837,1,018,MA,42.485950411217,-71.1553696696814,088,NJ,40.6240218011197,-74.8843774239638
8,2017-12-31,01889,11096,1,018,MA,42.485950411217,-71.1553696696814,110,NY,40.7220752067917,-73.7068341419121
9,2017-12-31,01889,16368,1,018,MA,42.485950411217,-71.1553696696814,163,PA,41.4542864255809,-79.6519755218344
10,2017-12-31,01889,17022,4,018,MA,42.485950411217,-71.1553696696814,170,PA,40.5266561258918,-77.8269602130124
11,2017-12-31,01889,17055,1,018,MA,42.485950411217,-71.1553696696814,170,PA,40.5266561258918,-77.8269602130124
12,2017-12-31,01889,17527,2,018,MA,42.485950411217,-71.1553696696814,175,PA,40.1567631818116,-76.2045168810913
13,2017-12-31,01889,17699,12,018,MA,42.485950411217,-71.1553696696814,176,PA,40.0730558106315,-76.3141886839793
14,2017-12-31,01889,18640,1,018,MA,42.485950411217,-71.1553696696814,186,PA,41.1823690190279,-75.7524397228504
15,2017-12-31,01889,27801,15,018,MA,42.485950411217,-71.1553696696814,278,NC,35.911301017443,-77.7362497363615
16,2017-12-31,01889,30349,9,018,MA,42.485950411217,-71.1553696696814,303,GA,33.7554224110405,-84.3904423185221
17,2017-12-31,01889,46037,22,018,MA,42.485950411217,-71.1553696696814,460,IN,40.2490326631515,-85.6604766032736
18,2017-12-31,01889,75039,3,018,MA,42.485950411217,-71.1553696696814,750,TX,32.9602558381961,-96.8380888773413
19,2017-12-31,01889,76177,4,018,MA,42.485950411217,-71.1553696696814,761,TX,32.745762503794,-97.3281747471537
20,2017-12-31,01889,92407,1,018,MA,42.485950411217,-71.1553696696814,924,CA,34.0974426269531,-117.292900085449
21,2017-12-31,01889,92551,1,018,MA,42.485950411217,-71.1553696696814,925,CA,33.9962289444077,-117.372113197087
22,2017-12-31,01889,93012,5,018,MA,42.485950411217,-71.1553696696814,930,CA,34.3729934692383,-119.306915283203
23,2017-12-31,02205,07094,1,022,MA,42.3582224850777,-71.0584272136915,070,NJ,40.5833124911422,-74.2703150322948
24,2017-12-31,02205,07836,1,022,MA,42.3582224850777,-71.0584272136915,078,NJ,40.9151229858398,-74.5807952880859
25,2017-12-31,02205,08817,1,022,MA,42.3582224850777,-71.0584272136915,088,NJ,40.6240218011197,-74.8843774239638
26,2017-12-31,02205,08831,4,022,MA,42.3582224850777,-71.0584272136915,088,NJ,40.6240218011197,-74.8843774239638
27,2017-12-31,02205,08837,1,022,MA,42.3582224850777,-71.0584272136915,088,NJ,40.6240218011197,-74.8843774239638
28,2017-12-31,02205,11096,4,022,MA,42.3582224850777,-71.0584272136915,110,NY,40.7220752067917,-73.7068341419121
29,2017-12-31,02205,16368,5,022,MA,42.3582224850777,-71.0584272136915,163,PA,41.4542864255809,-79.6519755218344
...,...,...,...,...,...,...,...,...,...,...,...,...
390451,2019-01-08,30349,17527,1,303,GA,33.7554224110405,-84.3904423185221,175,PA,40.1567631818116,-76.2045168810913
390452,2019-01-08,30349,17699,9,303,GA,33.7554224110405,-84.3904423185221,176,PA,40.0730558106315,-76.3141886839793
390453,2019-01-08,30349,18015,1,303,GA,33.7554224110405,-84.3904423185221,180,PA,40.4692977017575,-75.6482993536905
390454,2019-01-08,30349,27801,5,303,GA,33.7554224110405,-84.3904423185221,278,NC,35.911301017443,-77.7362497363615
390455,2019-01-08,30349,30349,22,303,GA,33.7554224110405,-84.3904423185221,303,GA,33.7554224110405,-84.3904423185221
390456,2019-01-08,30349,46037,9,303,GA,33.7554224110405,-84.3904423185221,460,IN,40.2490326631515,-85.6604766032736
390457,2019-01-08,30349,52404,1,303,GA,33.7554224110405,-84.3904423185221,524,IA,41.9754515759122,-91.6587232808614
390458,2019-01-08,30349,76177,3,303,GA,33.7554224110405,-84.3904423185221,761,TX,32.745762503794,-97.3281747471537
390459,2019-01-08,46037,08831,1,460,IN,40.2490326631515,-85.6604766032736,088,NJ,40.6240218011197,-74.8843774239638
390460,2019-01-08,46037,11096,2,460,IN,40.2490326631515,-85.6604766032736,110,NY,40.7220752067917,-73.7068341419121
390461,2019-01-08,46037,11413,2,460,IN,40.2490326631515,-85.6604766032736,114,NY,40.7049329101236,-73.7938723442845
390462,2019-01-08,46037,16368,1,460,IN,40.2490326631515,-85.6604766032736,163,PA,41.4542864255809,-79.6519755218344
390463,2019-01-08,46037,17527,1,460,IN,40.2490326631515,-85.6604766032736,175,PA,40.1567631818116,-76.2045168810913
390464,2019-01-08,46037,17699,3,460,IN,40.2490326631515,-85.6604766032736,176,PA,40.0730558106315,-76.3141886839793
390465,2019-01-08,46037,27801,1,460,IN,40.2490326631515,-85.6604766032736,278,NC,35.911301017443,-77.7362497363615
390466,2019-01-08,46037,30349,3,460,IN,40.2490326631515,-85.6604766032736,303,GA,33.7554224110405,-84.3904423185221
390467,2019-01-08,46037,46037,8,460,IN,40.2490326631515,-85.6604766032736,460,IN,40.2490326631515,-85.6604766032736
390468,2019-01-08,46037,52404,3,460,IN,40.2490326631515,-85.6604766032736,524,IA,41.9754515759122,-91.6587232808614
390469,2019-01-09,30349,16368,1,303,GA,33.7554224110405,-84.3904423185221,163,PA,41.4542864255809,-79.6519755218344
390470,2019-01-09,30349,30349,2,303,GA,33.7554224110405,-84.3904423185221,303,GA,33.7554224110405,-84.3904423185221
390471,2019-01-09,30349,76177,1,303,GA,33.7554224110405,-84.3904423185221,761,TX,32.745762503794,-97.3281747471537
390472,2019-01-09,46037,27801,3,460,IN,40.2490326631515,-85.6604766032736,278,NC,35.911301017443,-77.7362497363615
390473,2019-01-09,46037,30349,2,460,IN,40.2490326631515,-85.6604766032736,303,GA,33.7554224110405,-84.3904423185221
390474,2019-01-09,46037,46037,9,460,IN,40.2490326631515,-85.6604766032736,460,IN,40.2490326631515,-85.6604766032736
390475,2019-01-09,46037,52404,4,460,IN,40.2490326631515,-85.6604766032736,524,IA,41.9754515759122,-91.6587232808614
390476,2019-01-10,46037,16368,1,460,IN,40.2490326631515,-85.6604766032736,163,PA,41.4542864255809,-79.6519755218344
390477,2019-01-10,46037,17699,1,460,IN,40.2490326631515,-85.6604766032736,176,PA,40.0730558106315,-76.3141886839793
390478,2019-01-10,46037,27801,3,460,IN,40.2490326631515,-85.6604766032736,278,NC,35.911301017443,-77.7362497363615
390479,2019-01-10,46037,46037,18,460,IN,40.2490326631515,-85.6604766032736,460,IN,40.2490326631515,-85.6604766032736
390480,2019-01-10,46037,52404,5,460,IN,40.2490326631515,-85.6604766032736,524,IA,41.9754515759122,-91.6587232808614

In [29]:
# return_df.to_sql(con=engine, name='return_package_info', if_exists='replace',dtype=['datetime.date','text','text','bigint(20)','text','text','text','double','double','text','text','text','double','double'])
return_df.to_sql(con=engine, name='return_package_info', if_exists='replace')

## Detect zip code which cannot be decode

In [5]:
zip3_dic={}
zip3_file='/home/fusion/jupyterhub-notebooks/Cornell_PB_NE_Hub/references/zip3_centroids.csv'
import csv
with open(zip3_file,'r',encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        zip3_dic[row[2]]=[row[3],row[4],row[5]]

In [6]:
def decodezip3(zip3,reference):
    res=[]
    for i in zip3:
        if len(i)==3:
            i='00'+i
        elif len(i)==4:
            i='0'+i
            
        zipp=i[0:3]
        if not i:
            tmp=[zipp,'','','']
        else:
            if zipp in reference.keys():
                zipinfo=reference[zipp]
                tmp=[zipp,zipinfo[0],zipinfo[1],zipinfo[2]]
            else:
                print(zipp)
                tmp=[zipp,'','','']    
        res.append(tmp)
    return res

In [13]:
r709=engine.execute('select originfacilityzip, destinationfacilityzip, count(*) from ne_returns_data_by_day_2018 where originfacilityzip REGEXP \'^709\' or destinationfacilityzip REGEXP \'^709\'')
for _r in r709:
    print(_r)

('7094', '92407', 1711093)