In [1]:
!pip install sqlalchemy pymysql -q

In [2]:
!pip install sqlalchemy sql_magic -q

In [3]:
%load_ext sql_magic

/opt/conda/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [4]:
%load_ext sql_magic

The sql_magic extension is already loaded. To reload it, use:
  %reload_ext sql_magic

In [5]:
%sql

UsageError: Line magic function `%sql` not found.

In [6]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))
df.head() # sample data

    A   B   C   D
0   2  99  16  49
1  23  36  64   2
2  50  11  60  79
3  72  54  10  37
4   4  55  80  73

## Write pandas df to database

In [8]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [9]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")

In [10]:
from pandas.io import sql
df.to_sql(con=engine, name='test_df', 
                if_exists='replace')

## Query database

In [11]:
result = engine.execute('show databases')
for _r in result:
    print(_r)

('information_schema',)
('cornell',)

In [12]:
result = engine.execute('show tables in cornell')
for _r in result:
    print(_r)

('ne_delivery_data_by_day_2018',)
('ne_returns_data_by_day_2018',)
('test_df',)

In [23]:
result = engine.execute('describe ne_delivery_data_by_day_2018')
for _r in result:
    print(_r)

('origindate', 'date', 'YES', '', None, '')
('packagetype', 'varchar(50)', 'YES', '', None, '')
('fwdpackagekey', 'varchar(50)', 'YES', '', None, '')
('actualweight', 'varchar(50)', 'YES', '', None, '')
('originfacility', 'varchar(50)', 'YES', '', None, '')
('originfacilityzip', 'varchar(50)', 'YES', '', None, '')
('destinationfacilitymodified', 'varchar(50)', 'YES', '', None, '')
('destinationfacilityzip', 'varchar(50)', 'YES', '', None, '')

In [20]:
result = engine.execute('show tables in information_schema')
for _r in result:
    print(_r)

('CHARACTER_SETS',)
('COLLATIONS',)
('COLLATION_CHARACTER_SET_APPLICABILITY',)
('COLUMNS',)
('COLUMN_PRIVILEGES',)
('ENGINES',)
('EVENTS',)
('FILES',)
('GLOBAL_STATUS',)
('GLOBAL_VARIABLES',)
('KEY_COLUMN_USAGE',)
('OPTIMIZER_TRACE',)
('PARAMETERS',)
('PARTITIONS',)
('PLUGINS',)
('PROCESSLIST',)
('RDS_PROCESSLIST',)
('AURORA_OBJECTPOOL_INFO',)
('RDS_CONTROL_PERFORMANCE_INSIGHTS_STATUS',)
('PROFILING',)
('REFERENTIAL_CONSTRAINTS',)
('ROUTINES',)
('SCHEMATA',)
('SCHEMA_PRIVILEGES',)
('SESSION_STATUS',)
('SESSION_VARIABLES',)
('STATISTICS',)
('TABLES',)
('TABLESPACES',)
('TABLE_CONSTRAINTS',)
('TABLE_PRIVILEGES',)
('TRIGGERS',)
('USER_PRIVILEGES',)
('VIEWS',)
('REPLICA_HOST_STATUS',)
('INNODB_LOCKS',)
('INNODB_TRX',)
('INNODB_SYS_DATAFILES',)
('INNODB_LOCK_WAITS',)
('INNODB_SYS_TABLESTATS',)
('INNODB_CMP',)
('INNODB_SYS_INDEXES_HISTORY',)
('INNODB_CMP_RESET',)
('INNODB_CMP_PER_INDEX',)
('INNODB_CMPMEM_RESET',)
('INNODB_FT_DELETED',)
('INNODB_BUFFER_PAGE_LRU',)
('INNODB_FT_INSERTED',)
('INNODB_CMPMEM',)
('INNODB_SYS_INDEXES',)
('INNODB_SYS_TABLES',)
('INNODB_SYS_FIELDS',)
('INNODB_CMP_PER_INDEX_RESET',)
('INNODB_BUFFER_PAGE',)
('INNODB_FT_BEING_DELETED',)
('INNODB_FT_INDEX_TABLE',)
('INNODB_FT_INDEX_CACHE',)
('INNODB_SYS_TABLESPACES',)
('INNODB_METRICS',)
('INNODB_SYS_FOREIGN_COLS',)
('INNODB_SYS_FOREIGN',)
('INNODB_BUFFER_POOL_STATS',)
('INNODB_SYS_COLUMNS',)
('INNODB_SYS_FIELDS_HISTORY',)
('INNODB_SYS_SCHEMA_HISTORY',)
('INNODB_FT_DEFAULT_STOPWORD',)
('INNODB_SYS_COLUMNS_HISTORY',)
('INNODB_SYS_TABLES_HISTORY',)
('INNODB_FT_CONFIG',)

In [24]:
result = engine.execute('select * from cornell.ne_returns_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

(datetime.date(2019, 1, 10), 'Return', 420456129, 0.1168, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420156653, 3.35, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420161921, 0.9369, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162311, 0.2733, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162321, 0.6128, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2019, 1, 7), 'Return', 420162133, 0.3108, 'IND - PartnerFacility', '46037', 'IND - Client', '46037')
(datetime.date(2018, 5, 25), 'Return', 394568185, 1.7835, 'ATL - PartnerFacility', '30349', 'Client - 52909', '92407')
(datetime.date(2018, 8, 27), 'Return', 405004216, 5.105, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')
(datetime.date(2018, 8, 27), 'Return', 404860180, 10.68, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')
(datetime.date(2018, 5, 28), 'Return', 394769055, 0.415, 'IND - PartnerFacility', '46037', 'Client - 52909', '92407')

In [ ]:
result = engine.execute('select count(*) from cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

In [22]:
result = engine.execute('select count(*) from cornell.ne_returns_data_by_day_2018')
for _r in result:
    print(_r)

(33276614,)

In [25]:
result = engine.execute('select origindate, count(*) from cornell.ne_returns_data_by_day_2018 group by origindate')
for _r in result:
    print(_r)

(datetime.date(2017, 12, 31), 15151)
(datetime.date(2018, 1, 1), 6169)
(datetime.date(2018, 1, 2), 61815)
(datetime.date(2018, 1, 3), 93505)
(datetime.date(2018, 1, 4), 88608)
(datetime.date(2018, 1, 5), 119207)
(datetime.date(2018, 1, 6), 99511)
(datetime.date(2018, 1, 7), 38731)
(datetime.date(2018, 1, 8), 84528)
(datetime.date(2018, 1, 9), 165331)
(datetime.date(2018, 1, 10), 178932)
(datetime.date(2018, 1, 11), 176715)
(datetime.date(2018, 1, 12), 157224)
(datetime.date(2018, 1, 13), 117279)
(datetime.date(2018, 1, 14), 49768)
(datetime.date(2018, 1, 15), 55549)
(datetime.date(2018, 1, 16), 114127)
(datetime.date(2018, 1, 17), 116670)
(datetime.date(2018, 1, 18), 133814)
(datetime.date(2018, 1, 19), 159354)
(datetime.date(2018, 1, 20), 136374)
(datetime.date(2018, 1, 21), 41146)
(datetime.date(2018, 1, 22), 96541)
(datetime.date(2018, 1, 23), 143534)
(datetime.date(2018, 1, 24), 166564)
(datetime.date(2018, 1, 25), 163890)
(datetime.date(2018, 1, 26), 166279)
(datetime.date(2018, 1, 27), 113971)
(datetime.date(2018, 1, 28), 40741)
(datetime.date(2018, 1, 29), 86761)
(datetime.date(2018, 1, 30), 141821)
(datetime.date(2018, 1, 31), 165365)
(datetime.date(2018, 2, 1), 153170)
(datetime.date(2018, 2, 2), 147257)
(datetime.date(2018, 2, 3), 103484)
(datetime.date(2018, 2, 4), 35881)
(datetime.date(2018, 2, 5), 73870)
(datetime.date(2018, 2, 6), 115258)
(datetime.date(2018, 2, 7), 137036)
(datetime.date(2018, 2, 8), 116916)
(datetime.date(2018, 2, 9), 113213)
(datetime.date(2018, 2, 10), 71355)
(datetime.date(2018, 2, 11), 31390)
(datetime.date(2018, 2, 12), 67644)
(datetime.date(2018, 2, 13), 96417)
(datetime.date(2018, 2, 14), 117126)
(datetime.date(2018, 2, 15), 107016)
(datetime.date(2018, 2, 16), 94203)
(datetime.date(2018, 2, 17), 74964)
(datetime.date(2018, 2, 18), 36043)
(datetime.date(2018, 2, 19), 30167)
(datetime.date(2018, 2, 20), 77849)
(datetime.date(2018, 2, 21), 115207)
(datetime.date(2018, 2, 22), 102173)
(datetime.date(2018, 2, 23), 111873)
(datetime.date(2018, 2, 24), 78760)
(datetime.date(2018, 2, 25), 28012)
(datetime.date(2018, 2, 26), 83589)
(datetime.date(2018, 2, 27), 108824)
(datetime.date(2018, 2, 28), 139530)
(datetime.date(2018, 3, 1), 123409)
(datetime.date(2018, 3, 2), 114367)
(datetime.date(2018, 3, 3), 73746)
(datetime.date(2018, 3, 4), 28517)
(datetime.date(2018, 3, 5), 75688)
(datetime.date(2018, 3, 6), 113295)
(datetime.date(2018, 3, 7), 117066)
(datetime.date(2018, 3, 8), 128062)
(datetime.date(2018, 3, 9), 124443)
(datetime.date(2018, 3, 10), 85650)
(datetime.date(2018, 3, 11), 35053)
(datetime.date(2018, 3, 12), 80965)
(datetime.date(2018, 3, 13), 114631)
(datetime.date(2018, 3, 14), 141108)
(datetime.date(2018, 3, 15), 132458)
(datetime.date(2018, 3, 16), 125409)
(datetime.date(2018, 3, 17), 84130)
(datetime.date(2018, 3, 18), 17772)
(datetime.date(2018, 3, 19), 89913)
(datetime.date(2018, 3, 20), 124345)
(datetime.date(2018, 3, 21), 135640)
(datetime.date(2018, 3, 22), 128140)
(datetime.date(2018, 3, 23), 122052)
(datetime.date(2018, 3, 24), 90630)
(datetime.date(2018, 3, 25), 40430)
(datetime.date(2018, 3, 26), 82481)
(datetime.date(2018, 3, 27), 119584)
(datetime.date(2018, 3, 28), 129688)
(datetime.date(2018, 3, 29), 149390)
(datetime.date(2018, 3, 30), 121022)
(datetime.date(2018, 3, 31), 89096)
(datetime.date(2018, 4, 1), 40069)
(datetime.date(2018, 4, 2), 78994)
(datetime.date(2018, 4, 3), 109633)
(datetime.date(2018, 4, 4), 142024)
(datetime.date(2018, 4, 5), 137803)
(datetime.date(2018, 4, 6), 132000)
(datetime.date(2018, 4, 7), 96440)
(datetime.date(2018, 4, 8), 31287)
(datetime.date(2018, 4, 9), 85616)
(datetime.date(2018, 4, 10), 127350)
(datetime.date(2018, 4, 11), 146099)
(datetime.date(2018, 4, 12), 137751)
(datetime.date(2018, 4, 13), 142391)
(datetime.date(2018, 4, 14), 80852)
(datetime.date(2018, 4, 15), 39127)
(datetime.date(2018, 4, 16), 81417)
(datetime.date(2018, 4, 17), 120418)
(datetime.date(2018, 4, 18), 144061)
(datetime.date(2018, 4, 19), 141344)
(datetime.date(2018, 4, 20), 135847)
(datetime.date(2018, 4, 21), 96424)
(datetime.date(2018, 4, 22), 34866)
(datetime.date(2018, 4, 23), 97378)
(datetime.date(2018, 4, 24), 128278)
(datetime.date(2018, 4, 25), 155363)
(datetime.date(2018, 4, 26), 139837)
(datetime.date(2018, 4, 27), 144127)
(datetime.date(2018, 4, 28), 92383)
(datetime.date(2018, 4, 29), 44456)
(datetime.date(2018, 4, 30), 91263)
(datetime.date(2018, 5, 1), 126102)
(datetime.date(2018, 5, 2), 161130)
(datetime.date(2018, 5, 3), 147818)
(datetime.date(2018, 5, 4), 135382)
(datetime.date(2018, 5, 5), 95029)
(datetime.date(2018, 5, 6), 36552)
(datetime.date(2018, 5, 7), 91056)
(datetime.date(2018, 5, 8), 121426)
(datetime.date(2018, 5, 9), 157572)
(datetime.date(2018, 5, 10), 137846)
(datetime.date(2018, 5, 11), 146483)
(datetime.date(2018, 5, 12), 100149)
(datetime.date(2018, 5, 13), 35510)
(datetime.date(2018, 5, 14), 84433)
(datetime.date(2018, 5, 15), 122415)
(datetime.date(2018, 5, 16), 150113)
(datetime.date(2018, 5, 17), 138794)
(datetime.date(2018, 5, 18), 136826)
(datetime.date(2018, 5, 19), 100441)
(datetime.date(2018, 5, 20), 33851)
(datetime.date(2018, 5, 21), 91797)
(datetime.date(2018, 5, 22), 125716)
(datetime.date(2018, 5, 23), 157069)
(datetime.date(2018, 5, 24), 141879)
(datetime.date(2018, 5, 25), 140734)
(datetime.date(2018, 5, 26), 85864)
(datetime.date(2018, 5, 27), 49671)
(datetime.date(2018, 5, 28), 8877)
(datetime.date(2018, 5, 29), 75969)
(datetime.date(2018, 5, 30), 113483)
(datetime.date(2018, 5, 31), 155169)
(datetime.date(2018, 6, 1), 128705)
(datetime.date(2018, 6, 2), 102820)
(datetime.date(2018, 6, 3), 41785)
(datetime.date(2018, 6, 4), 89913)
(datetime.date(2018, 6, 5), 130296)
(datetime.date(2018, 6, 6), 151466)
(datetime.date(2018, 6, 7), 157824)
(datetime.date(2018, 6, 8), 135283)
(datetime.date(2018, 6, 9), 90909)
(datetime.date(2018, 6, 10), 43941)
(datetime.date(2018, 6, 11), 83616)
(datetime.date(2018, 6, 12), 124489)
(datetime.date(2018, 6, 13), 145055)
(datetime.date(2018, 6, 14), 144155)
(datetime.date(2018, 6, 15), 132441)
(datetime.date(2018, 6, 16), 96047)
(datetime.date(2018, 6, 17), 34572)
(datetime.date(2018, 6, 18), 85688)
(datetime.date(2018, 6, 19), 123994)
(datetime.date(2018, 6, 20), 137285)
(datetime.date(2018, 6, 21), 137285)
(datetime.date(2018, 6, 22), 137139)
(datetime.date(2018, 6, 23), 93785)
(datetime.date(2018, 6, 24), 43236)
(datetime.date(2018, 6, 25), 91338)
(datetime.date(2018, 6, 26), 124979)
(datetime.date(2018, 6, 27), 139301)
(datetime.date(2018, 6, 28), 132419)
(datetime.date(2018, 6, 29), 133966)
(datetime.date(2018, 6, 30), 89535)
(datetime.date(2018, 7, 1), 38640)
(datetime.date(2018, 7, 2), 84326)
(datetime.date(2018, 7, 3), 114949)
(datetime.date(2018, 7, 4), 69567)
(datetime.date(2018, 7, 5), 102923)
(datetime.date(2018, 7, 6), 103523)
(datetime.date(2018, 7, 7), 89125)
(datetime.date(2018, 7, 8), 39840)
(datetime.date(2018, 7, 9), 95766)
(datetime.date(2018, 7, 10), 116519)
(datetime.date(2018, 7, 11), 132576)
(datetime.date(2018, 7, 12), 139541)
(datetime.date(2018, 7, 13), 130578)
(datetime.date(2018, 7, 14), 91435)
(datetime.date(2018, 7, 15), 33309)
(datetime.date(2018, 7, 16), 94447)
(datetime.date(2018, 7, 17), 120459)
(datetime.date(2018, 7, 18), 124809)
(datetime.date(2018, 7, 19), 132740)
(datetime.date(2018, 7, 20), 121805)
(datetime.date(2018, 7, 21), 83086)
(datetime.date(2018, 7, 22), 32527)
(datetime.date(2018, 7, 23), 87543)
(datetime.date(2018, 7, 24), 110392)
(datetime.date(2018, 7, 25), 139611)
(datetime.date(2018, 7, 26), 128688)
(datetime.date(2018, 7, 27), 130686)
(datetime.date(2018, 7, 28), 92336)
(datetime.date(2018, 7, 29), 36225)
(datetime.date(2018, 7, 30), 93622)
(datetime.date(2018, 7, 31), 114418)
(datetime.date(2018, 8, 1), 126821)
(datetime.date(2018, 8, 2), 136315)
(datetime.date(2018, 8, 3), 126515)
(datetime.date(2018, 8, 4), 90115)
(datetime.date(2018, 8, 5), 39996)
(datetime.date(2018, 8, 6), 86760)
(datetime.date(2018, 8, 7), 114986)
(datetime.date(2018, 8, 8), 129650)
(datetime.date(2018, 8, 9), 136513)
(datetime.date(2018, 8, 10), 134260)
(datetime.date(2018, 8, 11), 94880)
(datetime.date(2018, 8, 12), 41321)
(datetime.date(2018, 8, 13), 82566)
(datetime.date(2018, 8, 14), 110577)
(datetime.date(2018, 8, 15), 131322)
(datetime.date(2018, 8, 16), 134215)
(datetime.date(2018, 8, 17), 128277)
(datetime.date(2018, 8, 18), 89680)
(datetime.date(2018, 8, 19), 47827)
(datetime.date(2018, 8, 20), 79945)
(datetime.date(2018, 8, 21), 95511)
(datetime.date(2018, 8, 22), 125622)
(datetime.date(2018, 8, 23), 135478)
(datetime.date(2018, 8, 24), 117003)
(datetime.date(2018, 8, 25), 87959)
(datetime.date(2018, 8, 26), 34293)
(datetime.date(2018, 8, 27), 83149)
(datetime.date(2018, 8, 28), 107673)
(datetime.date(2018, 8, 29), 123502)
(datetime.date(2018, 8, 30), 120569)
(datetime.date(2018, 8, 31), 116003)
(datetime.date(2018, 9, 1), 83264)
(datetime.date(2018, 9, 2), 33271)
(datetime.date(2018, 9, 3), 14682)
(datetime.date(2018, 9, 4), 62110)
(datetime.date(2018, 9, 5), 107877)
(datetime.date(2018, 9, 6), 121285)
(datetime.date(2018, 9, 7), 114183)
(datetime.date(2018, 9, 8), 84481)
(datetime.date(2018, 9, 9), 39595)
(datetime.date(2018, 9, 10), 82872)
(datetime.date(2018, 9, 11), 102725)
(datetime.date(2018, 9, 12), 119132)
(datetime.date(2018, 9, 13), 137092)
(datetime.date(2018, 9, 14), 128966)
(datetime.date(2018, 9, 15), 84048)
(datetime.date(2018, 9, 16), 35600)
(datetime.date(2018, 9, 17), 91055)
(datetime.date(2018, 9, 18), 106004)
(datetime.date(2018, 9, 19), 132258)
(datetime.date(2018, 9, 20), 128900)
(datetime.date(2018, 9, 21), 118146)
(datetime.date(2018, 9, 22), 75563)
(datetime.date(2018, 9, 23), 37566)
(datetime.date(2018, 9, 24), 82300)
(datetime.date(2018, 9, 25), 110009)
(datetime.date(2018, 9, 26), 128267)
(datetime.date(2018, 9, 27), 150923)
(datetime.date(2018, 9, 28), 142435)
(datetime.date(2018, 9, 29), 110643)
(datetime.date(2018, 9, 30), 55383)
(datetime.date(2018, 10, 1), 74316)
(datetime.date(2018, 10, 2), 107357)
(datetime.date(2018, 10, 3), 130993)
(datetime.date(2018, 10, 4), 139653)
(datetime.date(2018, 10, 5), 133384)
(datetime.date(2018, 10, 6), 84887)
(datetime.date(2018, 10, 7), 41986)
(datetime.date(2018, 10, 8), 42366)
(datetime.date(2018, 10, 9), 86446)
(datetime.date(2018, 10, 10), 119672)
(datetime.date(2018, 10, 11), 133391)
(datetime.date(2018, 10, 12), 120107)
(datetime.date(2018, 10, 13), 80894)
(datetime.date(2018, 10, 14), 44267)
(datetime.date(2018, 10, 15), 84234)
(datetime.date(2018, 10, 16), 122091)
(datetime.date(2018, 10, 17), 140300)
(datetime.date(2018, 10, 18), 140870)
(datetime.date(2018, 10, 19), 123506)
(datetime.date(2018, 10, 20), 81777)
(datetime.date(2018, 10, 21), 31227)
(datetime.date(2018, 10, 22), 76640)
(datetime.date(2018, 10, 23), 116386)
(datetime.date(2018, 10, 24), 133864)
(datetime.date(2018, 10, 25), 146198)
(datetime.date(2018, 10, 26), 124304)
(datetime.date(2018, 10, 27), 77857)
(datetime.date(2018, 10, 28), 31975)
(datetime.date(2018, 10, 29), 74304)
(datetime.date(2018, 10, 30), 112726)
(datetime.date(2018, 10, 31), 127461)
(datetime.date(2018, 11, 1), 152707)
(datetime.date(2018, 11, 2), 127027)
(datetime.date(2018, 11, 3), 80130)
(datetime.date(2018, 11, 4), 41691)
(datetime.date(2018, 11, 5), 84619)
(datetime.date(2018, 11, 6), 110489)
(datetime.date(2018, 11, 7), 140217)
(datetime.date(2018, 11, 8), 135841)
(datetime.date(2018, 11, 9), 126792)
(datetime.date(2018, 11, 10), 88019)
(datetime.date(2018, 11, 11), 37529)
(datetime.date(2018, 11, 12), 45519)
(datetime.date(2018, 11, 13), 66666)
(datetime.date(2018, 11, 14), 88875)
(datetime.date(2018, 11, 15), 98769)
(datetime.date(2018, 11, 16), 58473)
(datetime.date(2018, 11, 17), 31788)
(datetime.date(2018, 11, 18), 9479)
(datetime.date(2018, 11, 19), 24975)
(datetime.date(2018, 11, 20), 11064)
(datetime.date(2018, 11, 21), 23680)
(datetime.date(2018, 11, 22), 20018)
(datetime.date(2018, 11, 23), 13177)
(datetime.date(2018, 11, 24), 12953)
(datetime.date(2018, 11, 25), 2016)
(datetime.date(2018, 11, 26), 6600)
(datetime.date(2018, 11, 27), 5357)
(datetime.date(2018, 11, 28), 6308)
(datetime.date(2018, 11, 29), 16378)
(datetime.date(2018, 11, 30), 28221)
(datetime.date(2018, 12, 1), 18954)
(datetime.date(2018, 12, 2), 11221)
(datetime.date(2018, 12, 3), 30585)
(datetime.date(2018, 12, 4), 43380)
(datetime.date(2018, 12, 5), 20168)
(datetime.date(2018, 12, 6), 22338)
(datetime.date(2018, 12, 7), 6561)
(datetime.date(2018, 12, 8), 6903)
(datetime.date(2018, 12, 9), 3496)
(datetime.date(2018, 12, 10), 7944)
(datetime.date(2018, 12, 11), 5776)
(datetime.date(2018, 12, 12), 6307)
(datetime.date(2018, 12, 13), 9617)
(datetime.date(2018, 12, 14), 7696)
(datetime.date(2018, 12, 15), 10733)
(datetime.date(2018, 12, 16), 2981)
(datetime.date(2018, 12, 17), 8011)
(datetime.date(2018, 12, 18), 5952)
(datetime.date(2018, 12, 19), 7462)
(datetime.date(2018, 12, 20), 9559)
(datetime.date(2018, 12, 21), 9483)
(datetime.date(2018, 12, 22), 13499)
(datetime.date(2018, 12, 23), 8482)
(datetime.date(2018, 12, 24), 10917)
(datetime.date(2018, 12, 25), 383)
(datetime.date(2018, 12, 26), 2650)
(datetime.date(2018, 12, 27), 9355)
(datetime.date(2018, 12, 28), 11016)
(datetime.date(2018, 12, 29), 16776)
(datetime.date(2018, 12, 30), 11789)
(datetime.date(2018, 12, 31), 9581)
(datetime.date(2019, 1, 1), 204)
(datetime.date(2019, 1, 2), 1342)
(datetime.date(2019, 1, 3), 1432)
(datetime.date(2019, 1, 4), 812)
(datetime.date(2019, 1, 5), 1019)
(datetime.date(2019, 1, 6), 410)
(datetime.date(2019, 1, 7), 220)
(datetime.date(2019, 1, 8), 82)
(datetime.date(2019, 1, 9), 22)
(datetime.date(2019, 1, 10), 28)

In [ ]:
result = engine.execute('select * from cornell.ne_delivery_data_by_day_2018 limit 10')
for _r in result:
    print(_r)

In [14]:
engine.execute('show tables')