In [2]:
import numpy as np

In [3]:
from math import sin, cos, sqrt, atan2, radians


def cal_distance(lat1,lat2,lon1,lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # change km to mile
    distance = R * c / 1.609
    
    return distance

In [27]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [28]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")
from pandas.io import sql
import pandas as pd

## deliver and return datas

In [6]:
#deliver datas
result = engine.execute('select origindate,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from deliver_package_info where origin_lat !="''" and dest_lat !="''" and origindate>="2018-08-19" and origindate<="2018-08-25" group by origindate,origin_lat,origin_lng')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origindate','origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','count'])
delPackage_df

,origindate,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count
0,2018-08-19,PA,40.5266561258918,-77.8269602130124,PA,40.5931045064299,-80.3210143620504,11725
1,2018-08-19,PA,40.5804379499168,-79.9554146477495,PA,40.2595772715771,-76.8875671218581,527
2,2018-08-20,DE,39.5851778604444,-75.6993444178467,MD,38.795345473114,-76.0826444285563,4
3,2018-08-20,PA,40.5266561258918,-77.8269602130124,WV,38.3510365905497,-81.6282391249495,18179
4,2018-08-20,NJ,40.6240218011197,-74.8843774239638,CT,41.3447619004598,-73.068704647852,10
5,2018-08-22,PA,40.3531759321287,-75.9404565195716,NY,43.0435782151902,-76.1507035299336,412
6,2018-08-23,PA,41.4542864255809,-79.6519755218344,NY,42.8965886623808,-78.8865218406153,2

In [ ]:
cornell.ne_returns_data_by_day_2018

In [25]:
#deliver datas with null
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from deliver_package_info where origin_lat = "''" or dest_lat = "''" group by origin_lat,dest_lat')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
delPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,,,,20
1,,,,LA,29.9832533970946,-90.1656731464449,1
2,,,,GA,33.7554224110405,-84.3904423185221,7689
3,,,,IN,40.2490326631515,-85.6604766032736,2524
4,TX,30.2706053511004,-97.7433982939145,,,,2
5,GA,33.7554224110405,-84.3904423185221,,,,351148
6,MD,38.795345473114,-76.0826444285563,,,,27353
7,MD,39.4748982668505,-76.2084143365847,,,,120
8,DE,39.5851778604444,-75.6993444178467,,,,703
9,MD,39.6865546812135,-76.8461063568031,,,,270
10,OH,40.0879778724422,-82.6129450831437,,,,961050
11,PA,40.1269047717822,-75.1256831129385,,,,112
12,IN,40.2490326631515,-85.6604766032736,,,,641643
13,PA,40.3531759321287,-75.9404565195716,,,,16397
14,PA,40.4692977017575,-75.6482993536905,,,,93
15,PA,40.5266561258918,-77.8269602130124,,,,181895
16,PA,40.5804379499168,-79.9554146477495,,,,7022
17,NJ,40.5833124911422,-74.2703150322948,,,,587
18,NJ,40.6240218011197,-74.8843774239638,,,,39951
19,NJ,40.6705538121771,-74.177558305216,,,,239
20,NY,40.7049329101236,-73.7938723442845,,,,8260
21,NJ,40.7149350827677,-74.3650397802954,,,,659
22,NY,40.7220752067917,-73.7068341419121,,,,356883
23,NY,40.7458765271783,-73.9401086213694,,,,1104188
24,NY,40.7467145052922,-73.6395425596232,,,,51
25,NY,40.7505956027072,-73.9969904238369,,,,1955
26,NY,41.1434616274125,-74.1238460876456,,,,2924
27,NY,41.2922361699564,-73.7604420299132,,,,1274
28,CT,41.3447619004598,-73.068704647852,,,,17869
29,PA,41.4542864255809,-79.6519755218344,,,,8024
30,CT,41.791323312423,-72.8538070382769,,,,13606

In [7]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from return_package_info where origin_lat !="''" and dest_lat !="''" group by origin_lat,origin_lng')
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','count'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count
0,LA,29.8247620843281,-90.7653161702697,VA,37.5392326292499,-77.4374487131616,2
1,LA,29.9832533970946,-90.1656731464449,CA,34.0974426269531,-117.292900085449,13297
2,GA,31.9770399600794,-83.3396043385899,VA,37.5392326292499,-77.4374487131616,3
3,NM,32.2945680466822,-106.755558993272,NJ,40.6240218011197,-74.8843774239638,2
4,GA,33.7554224110405,-84.3904423185221,PA,40.1567631818116,-76.2045168810913,1
5,AR,35.0730071424796,-92.8759657989141,VA,37.5392326292499,-77.4374487131616,26
6,NC,35.774546975621,-78.6335626379463,CT,41.791323312423,-72.8538070382769,1
7,NC,35.911301017443,-77.7362497363615,PA,40.5266561258918,-77.8269602130124,58
8,TN,36.13,-88.51,NJ,41.0331440150586,-74.1332355995617,1
9,VA,36.8517460063432,-76.2800020807876,MD,39.4748982668505,-76.2084143365847,4
10,KY,36.8533412794047,-83.6185317293643,NJ,40.9151229858398,-74.5807952880859,4
11,VA,37.0458849267273,-76.4679680206234,PA,40.1567631818116,-76.2045168810913,1
12,VA,37.0629350128409,-80.7944718470008,IN,40.2490326631515,-85.6604766032736,1
13,VA,37.1776874595886,-79.8012013665201,PA,40.0730558106315,-76.3141886839793,1
14,VA,37.2378270001316,-77.3361824196274,CA,33.9962289444077,-117.372113197087,1
15,VA,37.2548440359096,-75.7987198574783,PA,41.2433794220387,-75.885391254118,2
16,VA,37.2706334855373,-79.9411734251418,GA,33.7554224110405,-84.3904423185221,10
17,WV,37.301097505709,-81.219490448085,PA,41.4542864255809,-79.6519755218344,1
18,VA,37.3507955981197,-77.9612614629298,PA,41.4542864255809,-79.6519755218344,3
19,VA,37.3582193349599,-79.1458222743395,MA,42.5853946189292,-71.8170603313981,2
20,VA,37.3818626403809,-75.7334594726563,GA,33.7554224110405,-84.3904423185221,2
21,CO,37.4808803426685,-105.834408797175,MD,39.4477721717067,-77.3342903346635,5
22,VA,37.5392326292499,-77.4374487131616,NJ,40.9151229858398,-74.5807952880859,1
23,VA,37.7104569783371,-77.8364615182062,PA,41.2433794220387,-75.885391254118,4
24,VA,37.7528281164671,-76.5133422733761,GA,33.7554224110405,-84.3904423185221,1
25,VA,38.088397042988,-78.555480911151,NJ,40.6240218011197,-74.8843774239638,1
26,VA,38.1313100222885,-79.0886474489815,PA,40.0730558106315,-76.3141886839793,1
27,WV,38.251464922047,-81.771408820272,PA,41.4542864255809,-79.6519755218344,380
28,VA,38.2964852824198,-77.4825984893031,PA,41.1823690190279,-75.7524397228504,2
29,WV,38.3180111115549,-81.8557992355087,TX,32.745762503794,-97.3281747471537,1
...,...,...,...,...,...,...,...
142,NY,42.5994546303793,-76.0640448226187,PA,41.4542864255809,-79.6519755218344,3
143,MA,42.6271204390973,-72.6052347738515,PA,40.0730558106315,-76.3141886839793,1
144,NY,42.6472800295118,-73.7516930834563,MD,39.4748982668505,-76.2084143365847,4
145,NY,42.8205889001901,-76.0739626162053,GA,33.7554224110405,-84.3904423185221,1
146,NH,42.8706400439212,-71.6071227268889,PA,40.0730558106315,-76.3141886839793,1
147,NY,42.8965886623808,-78.8865218406153,MD,39.4748982668505,-76.2084143365847,4
148,NY,42.90220622487,-75.5004184209062,PA,40.0730558106315,-76.3141886839793,1
149,NH,42.9668030237277,-72.2966382515709,GA,33.7554224110405,-84.3904423185221,1
150,NH,42.9885494067885,-71.4658168318337,MD,39.4748982668505,-76.2084143365847,11
151,NY,43.0435782151902,-76.1507035299336,PA,41.2433794220387,-75.885391254118,2
152,NH,43.0727535404586,-70.8040595470843,PA,40.0730558106315,-76.3141886839793,1
153,NY,43.0974835325808,-77.3380411445769,NJ,40.6240218011197,-74.8843774239638,2
154,NY,43.1591428523363,-77.6068194844908,CA,34.3729934692383,-119.306915283203,212
155,VT,43.1803170078988,-72.4961172508692,PA,40.0730558106315,-76.3141886839793,1
156,NY,43.196902717047,-77.8555774166891,PA,40.0730558106315,-76.3141886839793,1
157,NY,43.3108944460411,-73.6449816899646,PA,40.1567631818116,-76.2045168810913,1
158,NY,43.4188104166623,-75.2172803980479,NC,35.911301017443,-77.7362497363615,1
159,ME,43.530478933588,-70.9212281508382,VA,37.5392326292499,-77.4374487131616,3
160,VT,43.6333772575043,-72.9169784379936,PA,41.1823690190279,-75.7524397228504,2
161,VT,43.6747130026572,-72.3860024850608,MD,39.4748982668505,-76.2084143365847,9
162,ME,43.893249051325,-69.8307580002148,NY,40.7220752067917,-73.7068341419121,1
163,NY,43.9616550307712,-75.9022369173221,PA,40.5266561258918,-77.8269602130124,1
164,NH,43.973130815468,-71.497906160348,IN,40.2490326631515,-85.6604766032736,1
165,ME,44.3646757311266,-69.7369123220753,IN,40.2490326631515,-85.6604766032736,1
166,VT,44.4086444117035,-71.987818926482,PA,40.5266561258918,-77.8269602130124,1
167,VT,44.4737663776314,-73.2228904778506,VA,37.5392326292499,-77.4374487131616,1
168,ME,44.672309805652,-68.4163627150221,IN,40.2490326631515,-85.6604766032736,1
169,ME,44.8496480032224,-68.8459384951881,PA,40.1567631818116,-76.2045168810913,1
170,VT,45.0088050849423,-71.489101510276,PA,40.0730558106315,-76.3141886839793,2
171,ME,46.2244491577148,-68.0458221435547,PA,41.4542864255809,-79.6519755218344,1

In [24]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from return_package_info where origin_lat ="''" or dest_lat ="''" group by origin_lat,dest_lat' )
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,TX,32.745762503794,-97.3281747471537,42326
1,,,,TX,32.9602558381961,-96.8380888773413,97141
2,,,,GA,33.7554224110405,-84.3904423185221,181951
3,,,,CA,33.9962289444077,-117.372113197087,7162
4,,,,CA,34.0974426269531,-117.292900085449,47554
5,,,,CA,34.3729934692383,-119.306915283203,12325
6,,,,NC,35.911301017443,-77.7362497363615,120587
7,,,,VA,37.5392326292499,-77.4374487131616,473
8,,,,MD,38.3759221931837,-75.643197513886,355
9,,,,MD,39.1250801086426,-76.8025207519531,30
10,,,,MD,39.4477721717067,-77.3342903346635,5768
11,,,,MD,39.4748982668505,-76.2084143365847,124
12,,,,MD,39.6865546812135,-76.8461063568031,14131
13,,,,PA,39.9589519819136,-76.7338584141311,157
14,,,,PA,40.0730558106315,-76.3141886839793,348967
15,,,,PA,40.1567631818116,-76.2045168810913,71259
16,,,,IN,40.2490326631515,-85.6604766032736,409682
17,,,,PA,40.3162370614182,-79.5350161954073,253
18,,,,PA,40.4692977017575,-75.6482993536905,1366
19,,,,PA,40.5266561258918,-77.8269602130124,351870
20,,,,NJ,40.5833124911422,-74.2703150322948,14305
21,,,,PA,40.6032267522707,-75.4696989223711,261
22,,,,NJ,40.6240218011197,-74.8843774239638,26945
23,,,,NY,40.7049329101236,-73.7938723442845,31033
24,,,,NY,40.7220752067917,-73.7068341419121,18628
25,,,,NY,40.7458765271783,-73.9401086213694,362
26,,,,NY,40.7467145052922,-73.6395425596232,73
27,,,,NJ,40.9151229858398,-74.5807952880859,333
28,,,,NJ,41.0331440150586,-74.1332355995617,33
29,,,,PA,41.1823690190279,-75.7524397228504,35668
30,,,,PA,41.2433794220387,-75.885391254118,90
31,,,,PA,41.4542864255809,-79.6519755218344,45957
32,,,,CT,41.791323312423,-72.8538070382769,8
33,,,,IA,41.9754515759122,-91.6587232808614,11085
34,,,,MA,42.077750776689,-71.0424176095744,8
35,,,,MA,42.5853946189292,-71.8170603313981,562
36,,,,NH,42.8706400439212,-71.6071227268889,512
37,,,,NY,42.8965886623808,-78.8865218406153,97

## deliver null calculation

In [8]:
#count allpackages
result = engine.execute('select sum(count) from deliver_package_info')
totalDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalDelPackage_df

  totalcount
0   61916290

In [7]:
result = engine.execute('select sum(count) from deliver_package_info where origin_lat = "''" ')
oriNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
oriNullDelPackage_df

  totalnullcount
0          10234

In [8]:
result = engine.execute('select sum(count) from deliver_package_info where dest_lat = "''" ')
destNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
destNullDelPackage_df

  totalnullcount
0        3744298

In [9]:
print(oriNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)
print(destNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)

0.01652876811578988340548182070
6.047355227517669421084499733

## Return null calculation

In [9]:
result = engine.execute('select sum(count) from return_package_info ')
totalReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalReturnPackage_df

  totalcount
0   33276614

In [11]:
result = engine.execute('select sum(count) from return_package_info where origin_lat = "''" ')
oriNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
oriNullReturnPackage_df

  nullcount
0   1899441

In [12]:
result = engine.execute('select sum(count) from return_package_info where dest_lat = "''" ')
destNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
destNullReturnPackage_df

  nullcount
0      None

In [13]:
print(oriNullReturnPackage_df['nullcount'][0]/totalReturnPackage_df['totalcount'][0]*100)

5.708035679351270534916803735

## Input Data Starts here

## facility locations

In [63]:
# hub locations
facility_df=pd.DataFrame()
facility_df['ID']=[i for i in range(101,111)]
facility_df['lat']=[40.272873706173655,44.89515483095407,42.304686965277391,38.563117084832918,40.799492838763541,
                    40.642102443412682,41.622412156211446,42.717481071824182,41.775317822514765,39.637607998749651]
facility_df['lng']=[-78.437189786669663,-70.792749586986645,-77.008752286812296,-77.934078803323573,-80.429785375722489,
                    -81.09876856469576,-75.298832812376659,-72.696958353258665,-71.910726787671877,-75.921949353175265]

## delivery initial locations

In [65]:
delInitial_df=pd.DataFrame()
n=len(delPackage_df)
delId=np.zeros(n)
delLat=np.zeros(n)
delLng=np.zeros(n)
for i in range(0,n):
    delId[i]=i+1
    delLat[i]=delPackage_df['origin_lat'][i]
    delLng[i]=delPackage_df['origin_lng'][i]
delInitial_df['ID']=delId
delInitial_df['lat']=delLat
delInitial_df['lng']=delLng

delInitial_df

    ID        lat        lng
0  1.0  40.526656 -77.826960
1  2.0  40.580438 -79.955415
2  3.0  39.585178 -75.699344
3  4.0  40.526656 -77.826960
4  5.0  40.624022 -74.884377
5  6.0  40.353176 -75.940457
6  7.0  41.454286 -79.651976

In [66]:
#final locations
delFinal_df=pd.DataFrame()
n=len(delPackage_df)
delId=np.zeros(n)
delLat=np.zeros(n)
delLng=np.zeros(n)
for i in range(0,n):
    delId[i]=i+201
    delLat[i]=delPackage_df['dest_lat'][i]
    delLng[i]=delPackage_df['dest_lng'][i]
delFinal_df['ID']=delId
delFinal_df['lat']=delLat
delFinal_df['lng']=delLng

delFinal_df

      ID        lat        lng
0  201.0  40.593105 -80.321014
1  202.0  40.259577 -76.887567
2  203.0  38.795345 -76.082644
3  204.0  38.351037 -81.628239
4  205.0  41.344762 -73.068705
5  206.0  43.043578 -76.150704
6  207.0  42.896589 -78.886522

In [67]:
df_locations = pd.concat([delInitial_df,facility_df,delFinal_df],ignore_index=True)
dist = np.zeros(shape=(len(df_locations)*len(df_locations),3))
df_locations

       ID        lat        lng
0     1.0  40.526656 -77.826960
1     2.0  40.580438 -79.955415
2     3.0  39.585178 -75.699344
3     4.0  40.526656 -77.826960
4     5.0  40.624022 -74.884377
5     6.0  40.353176 -75.940457
6     7.0  41.454286 -79.651976
7   101.0  40.272874 -78.437190
8   102.0  44.895155 -70.792750
9   103.0  42.304687 -77.008752
10  104.0  38.563117 -77.934079
11  105.0  40.799493 -80.429785
12  106.0  40.642102 -81.098769
13  107.0  41.622412 -75.298833
14  108.0  42.717481 -72.696958
15  109.0  41.775318 -71.910727
16  110.0  39.637608 -75.921949
17  201.0  40.593105 -80.321014
18  202.0  40.259577 -76.887567
19  203.0  38.795345 -76.082644
20  204.0  38.351037 -81.628239
21  205.0  41.344762 -73.068705
22  206.0  43.043578 -76.150704
23  207.0  42.896589 -78.886522

In [68]:
#facility facility distance
dist = np.zeros(shape=(len(df_locations)*len(df_locations),3))

k=0
for i in range(len(df_locations)):
    for j in range(len(df_locations)):
        dist[k][2] = cal_distance(df_locations['lat'][i],df_locations['lat'][j],df_locations['lng'][i],df_locations['lng'][j])
        dist[k][0]=df_locations['ID'][i]
        dist[k][1]=df_locations['ID'][j]
        k+=1
dist = pd.DataFrame(dist,columns=['initial','destination','distance'])

dist

     initial  destination    distance
0        1.0          1.0    0.000000
1        1.0          2.0  111.855557
2        1.0          3.0  130.032434
3        1.0          4.0    0.000000
4        1.0          5.0  154.647336
5        1.0          6.0   99.975938
6        1.0          7.0  114.804439
7        1.0        101.0   36.603777
8        1.0        102.0  467.519260
9        1.0        103.0  130.026385
10       1.0        104.0  135.859063
11       1.0        105.0  137.780477
12       1.0        106.0  171.947010
13       1.0        107.0  151.964520
14       1.0        108.0  305.235619
15       1.0        109.0  319.751427
16       1.0        110.0  118.021609
17       1.0        201.0  131.063240
18       1.0        202.0   52.792807
19       1.0        203.0  151.458347
20       1.0        204.0  252.560104
21       1.0        205.0  254.812013
22       1.0        206.0  194.256463
23       1.0        207.0  172.712422
24       2.0          1.0  111.855557
25       2.0          2.0    0.000000
26       2.0          3.0  235.363424
27       2.0          4.0  111.855557
28       2.0          5.0  266.141300
29       2.0          6.0  211.722565
..       ...          ...         ...
546    206.0        202.0  196.182521
547    206.0        203.0  293.700926
548    206.0        204.0  432.984830
549    206.0        205.0  196.720873
550    206.0        206.0    0.000000
551    206.0        207.0  138.752062
552    207.0          1.0  172.712422
553    207.0          2.0  169.338570
554    207.0          3.0  282.529598
555    207.0          4.0  172.712422
556    207.0          5.0  259.317850
557    207.0          6.0  232.542720
558    207.0          7.0  107.139406
559    207.0        101.0  182.858025
560    207.0        102.0  425.980288
561    207.0        103.0  103.941051
562    207.0        104.0  303.692306
563    207.0        105.0  165.317934
564    207.0        106.0  193.115431
565    207.0        107.0  203.574560
566    207.0        108.0  314.088168
567    207.0        109.0  364.685511
568    207.0        110.0  272.877646
569    207.0        201.0  175.581926
570    207.0        202.0  209.548697
571    207.0        203.0  319.140414
572    207.0        204.0  345.544016
573    207.0        205.0  316.932825
574    207.0        206.0  138.752062
575    207.0        207.0    0.000000

[576 rows x 3 columns]

In [69]:
f= open("distance.txt","w+")
for i in range(len(dist)):
     f.write("%d " % (dist['initial'][i]))
     f.write("%d " % (dist['destination'][i]))
     f.write("%d\r\n" % (dist['distance'][i]))
f.close()

In [80]:
f= open("paramcapital.txt","w+")
for i in range(len(facility_df)):
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (1000000))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (4000000))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (10000000))
f.close()

In [92]:
f= open("utility.txt","w+")
for i in range(len(facility_df)):
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (500))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (700))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (1000))
f.close()

## packages

In [90]:

packageparam=pd.DataFrame()
n=len(delPackage_df)
initDelID=np.zeros(n)
finalDelID=np.zeros(n)
delPackages=np.zeros(n)
for i in range(n):
    initDelID[i]=1+i
    finalDelID[i]=201+i
    delPackages[i]=delPackage_df['count'][i]
# for j in range(n,n*n)
#     for k in initDelID:
#         for i in finalDelID:
            
packageparam['initID']=initDelID
packageparam['finalID']=finalDelID
packageparam['packages']=delPackages
packageparam

   initID  finalID  packages
0     1.0    201.0   11725.0
1     2.0    202.0     527.0
2     3.0    203.0       4.0
3     4.0    204.0   18179.0
4     5.0    205.0      10.0
5     6.0    206.0     412.0
6     7.0    207.0       2.0

In [93]:
f= open("packageparam.txt","w+")
for i in range(len(packageparam)):
    f.write("%d " % (packageparam['initID'][i]))
    f.write("%d " % (packageparam['finalID'][i]))
    f.write("%d\n" % (packageparam['packages'][i]))
f.close()