In [1]:
import pandas as pd
import numpy as np

In [2]:
from math import sin, cos, sqrt, atan2, radians


def cal_distance(lat1,lat2,lon1,lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # change km to mile
    distance = R * c / 1.609
    
    return distance

In [3]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [4]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")
from pandas.io import sql
import pandas as pd

## deliver and return datas

In [96]:
#deliver datas
result = engine.execute('select origindate,origin_state,origin_zip3,origin_lat,origin_lng,dest_state,dest_zip3,dest_lat,dest_lng,count from deliver_package_info where origin_lat !="''" and dest_lat !="''" and origindate>="2018-08-19" and origindate<="2018-08-23" group by origindate,origin_lat,origin_lng')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origindate','origin_state','origin_zip3','origin_lat','origin_lng','dest_state','dest_zip3','dest_lat','dest_lng','count'])
delPackage_df

,origindate,origin_state,origin_zip3,origin_lat,origin_lng,dest_state,dest_zip3,dest_lat,dest_lng,count
0,2018-08-19,GA,303,33.7554224110405,-84.3904423185221,MA,011,42.1056970748294,-72.5980788159072,12
1,2018-08-19,MD,216,38.795345473114,-76.0826444285563,MA,011,42.1056970748294,-72.5980788159072,2
2,2018-08-19,OH,430,40.0879778724422,-82.6129450831437,MA,011,42.1056970748294,-72.5980788159072,17
3,2018-08-19,PA,190,40.1269047717822,-75.1256831129385,NY,117,40.6819634281226,-73.4125545304573,1
4,2018-08-19,IN,460,40.2490326631515,-85.6604766032736,MA,011,42.1056970748294,-72.5980788159072,33
5,2018-08-19,PA,170,40.5266561258918,-77.8269602130124,MA,011,42.1056970748294,-72.5980788159072,3
6,2018-08-19,PA,151,40.5804379499168,-79.9554146477495,MA,011,42.1056970748294,-72.5980788159072,1
7,2018-08-19,NJ,088,40.6240218011197,-74.8843774239638,CT,064,41.3447619004598,-73.068704647852,1
8,2018-08-19,NY,114,40.7049329101236,-73.7938723442845,GA,303,33.7554224110405,-84.3904423185221,3
9,2018-08-19,NY,110,40.7220752067917,-73.7068341419121,MA,018,42.485950411217,-71.1553696696814,2
10,2018-08-19,NY,100,40.7505956027072,-73.9969904238369,NJ,086,40.2200553459778,-74.7606863536026,1
11,2018-08-19,PA,163,41.4542864255809,-79.6519755218344,IN,460,40.2490326631515,-85.6604766032736,14
12,2018-08-19,CT,060,41.791323312423,-72.8538070382769,MA,015,42.1968723825208,-71.8453871667191,1
13,2018-08-20,GA,303,33.7554224110405,-84.3904423185221,MA,011,42.1056970748294,-72.5980788159072,5
14,2018-08-20,MD,216,38.795345473114,-76.0826444285563,MA,011,42.1056970748294,-72.5980788159072,4
15,2018-08-20,DE,197,39.5851778604444,-75.6993444178467,ME,040,43.530478933588,-70.9212281508382,1
16,2018-08-20,OH,430,40.0879778724422,-82.6129450831437,MA,011,42.1056970748294,-72.5980788159072,23
17,2018-08-20,IN,460,40.2490326631515,-85.6604766032736,MA,011,42.1056970748294,-72.5980788159072,43
18,2018-08-20,PA,170,40.5266561258918,-77.8269602130124,MA,011,42.1056970748294,-72.5980788159072,3
19,2018-08-20,PA,151,40.5804379499168,-79.9554146477495,MA,015,42.1968723825208,-71.8453871667191,1
20,2018-08-20,NJ,088,40.6240218011197,-74.8843774239638,MA,011,42.1056970748294,-72.5980788159072,2
21,2018-08-20,NY,114,40.7049329101236,-73.7938723442845,VA,232,37.5392326292499,-77.4374487131616,1
22,2018-08-20,NY,110,40.7220752067917,-73.7068341419121,MA,011,42.1056970748294,-72.5980788159072,25
23,2018-08-20,NY,100,40.7505956027072,-73.9969904238369,NY,146,43.1591428523363,-77.6068194844908,1
24,2018-08-20,PA,163,41.4542864255809,-79.6519755218344,GA,303,33.7554224110405,-84.3904423185221,2196
25,2018-08-20,CT,060,41.791323312423,-72.8538070382769,MA,015,42.1968723825208,-71.8453871667191,4
26,2018-08-21,GA,303,33.7554224110405,-84.3904423185221,MA,011,42.1056970748294,-72.5980788159072,7
27,2018-08-21,MD,216,38.795345473114,-76.0826444285563,MA,011,42.1056970748294,-72.5980788159072,2
28,2018-08-21,OH,430,40.0879778724422,-82.6129450831437,MA,011,42.1056970748294,-72.5980788159072,28
29,2018-08-21,IN,460,40.2490326631515,-85.6604766032736,MA,011,42.1056970748294,-72.5980788159072,32
...,...,...,...,...,...,...,...,...,...,...
38,2018-08-21,CT,060,41.791323312423,-72.8538070382769,MA,015,42.1968723825208,-71.8453871667191,7
39,2018-08-22,TX,787,30.2706053511004,-97.7433982939145,IN,460,40.2490326631515,-85.6604766032736,31
40,2018-08-22,GA,303,33.7554224110405,-84.3904423185221,MA,011,42.1056970748294,-72.5980788159072,5
41,2018-08-22,MD,216,38.795345473114,-76.0826444285563,MA,011,42.1056970748294,-72.5980788159072,1
42,2018-08-22,OH,430,40.0879778724422,-82.6129450831437,MA,011,42.1056970748294,-72.5980788159072,18
43,2018-08-22,IN,460,40.2490326631515,-85.6604766032736,MA,011,42.1056970748294,-72.5980788159072,28
44,2018-08-22,PA,196,40.3531759321287,-75.9404565195716,RI,029,41.8258558538419,-71.4134288124013,2
45,2018-08-22,PA,170,40.5266561258918,-77.8269602130124,MA,011,42.1056970748294,-72.5980788159072,5
46,2018-08-22,NJ,088,40.6240218011197,-74.8843774239638,MA,015,42.1968723825208,-71.8453871667191,1
47,2018-08-22,NY,114,40.7049329101236,-73.7938723442845,GA,303,33.7554224110405,-84.3904423185221,17
48,2018-08-22,NY,110,40.7220752067917,-73.7068341419121,MA,011,42.1056970748294,-72.5980788159072,6
49,2018-08-22,NY,100,40.7505956027072,-73.9969904238369,PA,190,40.1269047717822,-75.1256831129385,1
50,2018-08-22,NY,105,41.2922361699564,-73.7604420299132,MA,015,42.1968723825208,-71.8453871667191,1
51,2018-08-22,PA,163,41.4542864255809,-79.6519755218344,GA,303,33.7554224110405,-84.3904423185221,2516
52,2018-08-22,CT,060,41.791323312423,-72.8538070382769,MA,018,42.485950411217,-71.1553696696814,1
53,2018-08-23,TX,787,30.2706053511004,-97.7433982939145,IN,460,40.2490326631515,-85.6604766032736,1
54,2018-08-23,GA,303,33.7554224110405,-84.3904423185221,MA,011,42.1056970748294,-72.5980788159072,8
55,2018-08-23,MD,216,38.795345473114,-76.0826444285563,MA,011,42.1056970748294,-72.5980788159072,2
56,2018-08-23,DE,197,39.5851778604444,-75.6993444178467,MA,015,42.1968723825208,-71.8453871667191,2
57,2018-08-23,OH,430,40.0879778724422,-82.6129450831437,MA,011,42.1056970748294,-72.5980788159072,15
58,2018-08-23,PA,190,40.1269047717822,-75.1256831129385,GA,303,33.7554224110405,-84.3904423185221,1
59,2018-08-23,IN,460,40.2490326631515,-85.6604766032736,MA,011,42.1056970748294,-72.5980788159072,42
60,2018-08-23,PA,170,40.5266561258918,-77.8269602130124,VA,233,37.2548440359096,-75.7987198574783,1
61,2018-08-23,PA,151,40.5804379499168,-79.9554146477495,MA,015,42.1968723825208,-71.8453871667191,1
62,2018-08-23,NJ,088,40.6240218011197,-74.8843774239638,MA,011,42.1056970748294,-72.5980788159072,1
63,2018-08-23,NY,114,40.7049329101236,-73.7938723442845,MD,210,39.4748982668505,-76.2084143365847,1
64,2018-08-23,NY,110,40.7220752067917,-73.7068341419121,MA,011,42.1056970748294,-72.5980788159072,23
65,2018-08-23,NY,100,40.7505956027072,-73.9969904238369,GA,303,33.7554224110405,-84.3904423185221,6
66,2018-08-23,PA,163,41.4542864255809,-79.6519755218344,NY,142,42.8965886623808,-78.8865218406153,2
67,2018-08-23,CT,060,41.791323312423,-72.8538070382769,RI,029,41.8258558538419,-71.4134288124013,3

In [97]:
#return datas
result = engine.execute('select origindate,origin_state,origin_zip3,origin_lat,origin_lng,dest_state,dest_zip3,dest_lat,dest_lng,count from return_package_info where origin_lat !="''" and dest_lat !="''" and origindate>="2018-08-19" and origindate<="2018-08-23" group by origindate,origin_lat,origin_lng')
rePackage_df = pd.DataFrame(result.fetchall(),columns=['origindate','dest_state','dest_zip3','dest_lat','dest_lng','origin_state','origin_zip3','origin_lat','origin_lng','count'])
rePackage_df

,origindate,dest_state,dest_zip3,dest_lat,dest_lng,origin_state,origin_zip3,origin_lat,origin_lng,count
0,2018-08-19,GA,303,33.7554224110405,-84.3904423185221,MA,014,42.5853946189292,-71.8170603313981,1
1,2018-08-19,VA,235,36.8517460063432,-76.2800020807876,PA,176,40.0730558106315,-76.3141886839793,1
2,2018-08-19,VA,236,37.0458849267273,-76.4679680206234,PA,163,41.4542864255809,-79.6519755218344,1
3,2018-08-19,VA,240,37.2706334855373,-79.9411734251418,PA,163,41.4542864255809,-79.6519755218344,2
4,2018-08-19,VA,232,37.5392326292499,-77.4374487131616,NJ,070,40.5833124911422,-74.2703150322948,2
5,2018-08-19,VA,231,37.7104569783371,-77.8364615182062,NJ,070,40.5833124911422,-74.2703150322948,2
6,2018-08-19,WV,253,38.3510365905497,-81.6282391249495,NJ,070,40.5833124911422,-74.2703150322948,2
7,2018-08-19,MD,216,38.795345473114,-76.0826444285563,PA,156,40.3162370614182,-79.5350161954073,1
8,2018-08-19,VA,220,38.830674055139,-77.2134826436305,MD,211,39.6865546812135,-76.8461063568031,1
9,2018-08-19,MD,207,39.1250801086426,-76.8025207519531,PA,170,40.5266561258918,-77.8269602130124,2
10,2018-08-19,MD,212,39.2939663221704,-76.6223873270678,NJ,088,40.6240218011197,-74.8843774239638,1
11,2018-08-19,MD,210,39.4748982668505,-76.2084143365847,MA,014,42.5853946189292,-71.8170603313981,1
12,2018-08-19,DE,197,39.5851778604444,-75.6993444178467,PA,163,41.4542864255809,-79.6519755218344,2
13,2018-08-19,PA,191,39.9526139495128,-75.183696779919,NJ,070,40.5833124911422,-74.2703150322948,1
14,2018-08-19,PA,176,40.0730558106315,-76.3141886839793,GA,303,33.7554224110405,-84.3904423185221,3
15,2018-08-19,PA,190,40.1269047717822,-75.1256831129385,NJ,070,40.5833124911422,-74.2703150322948,1
16,2018-08-19,NJ,086,40.2200553459778,-74.7606863536026,NJ,070,40.5833124911422,-74.2703150322948,1
17,2018-08-19,IN,460,40.2490326631515,-85.6604766032736,MA,014,42.5853946189292,-71.8170603313981,19
18,2018-08-19,PA,171,40.2595772715771,-76.8875671218581,PA,176,40.0730558106315,-76.3141886839793,2
19,2018-08-19,PA,180,40.4692977017575,-75.6482993536905,PA,163,41.4542864255809,-79.6519755218344,3
20,2018-08-19,PA,152,40.473674,-79.955872,NJ,070,40.5833124911422,-74.2703150322948,1
21,2018-08-19,NJ,070,40.5833124911422,-74.2703150322948,NJ,088,40.6240218011197,-74.8843774239638,1
22,2018-08-19,PA,150,40.5931045064299,-80.3210143620504,PA,163,41.4542864255809,-79.6519755218344,1
23,2018-08-19,NJ,072,40.6705538121771,-74.177558305216,NJ,070,40.5833124911422,-74.2703150322948,1
24,2018-08-19,NY,117,40.6819634281226,-73.4125545304573,PA,170,40.5266561258918,-77.8269602130124,1
25,2018-08-19,NY,115,40.7467145052922,-73.6395425596232,NJ,088,40.6240218011197,-74.8843774239638,1
26,2018-08-19,NY,113,40.7563418797691,-73.8274802402864,CA,924,34.0974426269531,-117.292900085449,1
27,2018-08-19,NY,101,40.7633090468481,-73.9797878439146,NJ,088,40.6240218011197,-74.8843774239638,2
28,2018-08-19,NY,106,41.032704037141,-73.7650821954244,NJ,070,40.5833124911422,-74.2703150322948,1
29,2018-08-19,CT,069,41.0536387488792,-73.5380348358793,NJ,070,40.5833124911422,-74.2703150322948,1
...,...,...,...,...,...,...,...,...,...,...
275,2018-08-23,NY,112,40.6970240928097,-73.9890018436833,NJ,070,40.5833124911422,-74.2703150322948,8
276,2018-08-23,NY,115,40.7467145052922,-73.6395425596232,NJ,070,40.5833124911422,-74.2703150322948,2
277,2018-08-23,NY,113,40.7563418797691,-73.8274802402864,NJ,070,40.5833124911422,-74.2703150322948,2
278,2018-08-23,NY,101,40.7633090468481,-73.9797878439146,MA,014,42.5853946189292,-71.8170603313981,1
279,2018-08-23,NJ,076,40.8890286852354,-74.0457692553894,NJ,070,40.5833124911422,-74.2703150322948,3
280,2018-08-23,NY,106,41.032704037141,-73.7650821954244,PA,170,40.5266561258918,-77.8269602130124,2
281,2018-08-23,CT,069,41.0536387488792,-73.5380348358793,NJ,070,40.5833124911422,-74.2703150322948,3
282,2018-08-23,CT,064,41.3447619004598,-73.068704647852,MA,014,42.5853946189292,-71.8170603313981,1
283,2018-08-23,PA,177,41.3450859998913,-76.894835936402,TX,750,32.9602558381961,-96.8380888773413,1
284,2018-08-23,PA,163,41.4542864255809,-79.6519755218344,NJ,088,40.6240218011197,-74.8843774239638,2
285,2018-08-23,MA,027,41.784464601322,-71.0607687937182,MA,014,42.5853946189292,-71.8170603313981,2
286,2018-08-23,RI,029,41.8258558538419,-71.4134288124013,NJ,070,40.5833124911422,-74.2703150322948,7
287,2018-08-23,NY,125,41.8598590951481,-73.5602758628509,NJ,070,40.5833124911422,-74.2703150322948,1
288,2018-08-23,MA,023,42.077750776689,-71.0424176095744,NJ,070,40.5833124911422,-74.2703150322948,1
289,2018-08-23,MA,011,42.1056970748294,-72.5980788159072,IN,460,40.2490326631515,-85.6604766032736,2
290,2018-08-23,MA,015,42.1968723825208,-71.8453871667191,NJ,070,40.5833124911422,-74.2703150322948,1
291,2018-08-23,NY,137,42.2343589257587,-75.5390075382465,MA,014,42.5853946189292,-71.8170603313981,1
292,2018-08-23,MA,022,42.3582224850777,-71.0584272136915,NJ,070,40.5833124911422,-74.2703150322948,3
293,2018-08-23,NY,141,42.3884945851826,-78.5413524481462,PA,176,40.0730558106315,-76.3141886839793,1
294,2018-08-23,MA,018,42.485950411217,-71.1553696696814,NJ,070,40.5833124911422,-74.2703150322948,1
295,2018-08-23,NY,131,42.5994546303793,-76.0640448226187,PA,176,40.0730558106315,-76.3141886839793,1
296,2018-08-23,NY,122,42.6472800295118,-73.7516930834563,NJ,070,40.5833124911422,-74.2703150322948,2
297,2018-08-23,NY,142,42.8965886623808,-78.8865218406153,NJ,070,40.5833124911422,-74.2703150322948,3
298,2018-08-23,NH,031,42.9885494067885,-71.4658168318337,MA,014,42.5853946189292,-71.8170603313981,1
299,2018-08-23,NY,132,43.0435782151902,-76.1507035299336,MA,014,42.5853946189292,-71.8170603313981,1
300,2018-08-23,NH,038,43.0727535404586,-70.8040595470843,NJ,088,40.6240218011197,-74.8843774239638,1
301,2018-08-23,NY,146,43.1591428523363,-77.6068194844908,NJ,070,40.5833124911422,-74.2703150322948,2
302,2018-08-23,ME,040,43.530478933588,-70.9212281508382,NJ,070,40.5833124911422,-74.2703150322948,4
303,2018-08-23,VT,050,43.6747130026572,-72.3860024850608,NJ,070,40.5833124911422,-74.2703150322948,3
304,2018-08-23,VT,054,44.4737663776314,-73.2228904778506,NH,030,42.8706400439212,-71.6071227268889,1

In [7]:
#deliver datas with null
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from deliver_package_info where origin_lat = "''" or dest_lat = "''" group by origin_lat,dest_lat')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
delPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,,,,20
1,,,,GA,33.7554224110405,-84.3904423185221,7689
2,,,,IN,40.2490326631515,-85.6604766032736,2524
3,,,,NJ,40.5833124911422,-74.2703150322948,1
4,TX,30.2706053511004,-97.7433982939145,,,,2
5,GA,33.7554224110405,-84.3904423185221,,,,3622
6,OH,40.0879778724422,-82.6129450831437,,,,25686
7,IN,40.2490326631515,-85.6604766032736,,,,50555
8,PA,40.3531759321287,-75.9404565195716,,,,2
9,PA,40.5266561258918,-77.8269602130124,,,,1879
10,PA,40.5804379499168,-79.9554146477495,,,,1
11,NJ,40.6240218011197,-74.8843774239638,,,,2
12,NY,40.7220752067917,-73.7068341419121,,,,8133
13,NY,40.7458765271783,-73.9401086213694,,,,1104153
14,CT,41.3447619004598,-73.068704647852,,,,4
15,CT,41.791323312423,-72.8538070382769,,,,1873

In [43]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from return_package_info where origin_lat !="''" and dest_lat !="''" group by origin_lat,origin_lng')
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','count'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count
0,GA,33.7554224110405,-84.3904423185221,NJ,40.6240218011197,-74.8843774239638,1
1,VA,36.8517460063432,-76.2800020807876,MA,42.5853946189292,-71.8170603313981,2
2,VA,37.0458849267273,-76.4679680206234,NJ,40.6240218011197,-74.8843774239638,1
3,VA,37.0629350128409,-80.7944718470008,GA,33.7554224110405,-84.3904423185221,1
4,VA,37.1776874595886,-79.8012013665201,PA,40.0730558106315,-76.3141886839793,1
5,VA,37.2378270001316,-77.3361824196274,NY,40.7220752067917,-73.7068341419121,1
6,VA,37.2548440359096,-75.7987198574783,NJ,40.9151229858398,-74.5807952880859,2
7,VA,37.2706334855373,-79.9411734251418,NJ,40.6240218011197,-74.8843774239638,4
8,WV,37.301097505709,-81.219490448085,PA,41.4542864255809,-79.6519755218344,1
9,VA,37.3507955981197,-77.9612614629298,PA,41.4542864255809,-79.6519755218344,1
10,VA,37.3582193349599,-79.1458222743395,PA,40.5266561258918,-77.8269602130124,1
11,VA,37.3818626403809,-75.7334594726563,GA,33.7554224110405,-84.3904423185221,1
12,VA,37.5392326292499,-77.4374487131616,MA,42.5853946189292,-71.8170603313981,1
13,VA,37.7104569783371,-77.8364615182062,PA,40.5266561258918,-77.8269602130124,2
14,VA,37.7528281164671,-76.5133422733761,GA,33.7554224110405,-84.3904423185221,1
15,VA,38.088397042988,-78.555480911151,GA,33.7554224110405,-84.3904423185221,1
16,VA,38.1313100222885,-79.0886474489815,PA,40.0730558106315,-76.3141886839793,1
17,WV,38.251464922047,-81.771408820272,TX,32.745762503794,-97.3281747471537,1
18,VA,38.2964852824198,-77.4825984893031,PA,40.0730558106315,-76.3141886839793,3
19,WV,38.3180111115549,-81.8557992355087,TX,32.745762503794,-97.3281747471537,1
20,WV,38.3510365905497,-81.6282391249495,PA,40.0730558106315,-76.3141886839793,1
21,VA,38.4036477843555,-78.8757027983826,PA,41.4542864255809,-79.6519755218344,1
22,VA,38.4381132558566,-77.9980224567107,NJ,40.6240218011197,-74.8843774239638,1
23,MD,38.6176487130023,-76.8552682490031,PA,41.4542864255809,-79.6519755218344,1
24,MD,38.795345473114,-76.0826444285563,PA,41.4542864255809,-79.6519755218344,2
25,VA,38.8199755074821,-77.059308330927,NJ,40.5833124911422,-74.2703150322948,1
26,VA,38.830674055139,-77.2134826436305,NJ,40.9151229858398,-74.5807952880859,1
27,VA,38.8864730869865,-77.095282559385,NJ,40.6240218011197,-74.8843774239638,1
28,VA,38.9381480373809,-77.1641323357583,PA,40.0730558106315,-76.3141886839793,2
29,MD,38.9664106077759,-77.1436065879662,NJ,40.5833124911422,-74.2703150322948,1
...,...,...,...,...,...,...,...
132,NY,42.5994546303793,-76.0640448226187,PA,41.4542864255809,-79.6519755218344,3
133,MA,42.6271204390973,-72.6052347738515,PA,40.0730558106315,-76.3141886839793,1
134,NY,42.6472800295118,-73.7516930834563,NC,35.911301017443,-77.7362497363615,2
135,NY,42.8205889001901,-76.0739626162053,GA,33.7554224110405,-84.3904423185221,1
136,NH,42.8706400439212,-71.6071227268889,PA,40.0730558106315,-76.3141886839793,1
137,NY,42.8965886623808,-78.8865218406153,NJ,40.6240218011197,-74.8843774239638,1
138,NY,42.90220622487,-75.5004184209062,PA,40.0730558106315,-76.3141886839793,1
139,NH,42.9668030237277,-72.2966382515709,GA,33.7554224110405,-84.3904423185221,1
140,NH,42.9885494067885,-71.4658168318337,NJ,40.6240218011197,-74.8843774239638,1
141,NY,43.0435782151902,-76.1507035299336,NJ,40.6240218011197,-74.8843774239638,1
142,NH,43.0727535404586,-70.8040595470843,NJ,40.6240218011197,-74.8843774239638,1
143,NY,43.0974835325808,-77.3380411445769,NJ,40.6240218011197,-74.8843774239638,1
144,NY,43.1591428523363,-77.6068194844908,NJ,40.5833124911422,-74.2703150322948,1
145,VT,43.1803170078988,-72.4961172508692,PA,40.0730558106315,-76.3141886839793,1
146,NY,43.196902717047,-77.8555774166891,PA,40.0730558106315,-76.3141886839793,1
147,NY,43.3108944460411,-73.6449816899646,PA,40.1567631818116,-76.2045168810913,1
148,NY,43.4188104166623,-75.2172803980479,NC,35.911301017443,-77.7362497363615,1
149,ME,43.530478933588,-70.9212281508382,NJ,40.5833124911422,-74.2703150322948,1
150,VT,43.6333772575043,-72.9169784379936,NY,40.7220752067917,-73.7068341419121,1
151,VT,43.6747130026572,-72.3860024850608,MA,42.5853946189292,-71.8170603313981,1
152,ME,43.893249051325,-69.8307580002148,NY,40.7220752067917,-73.7068341419121,1
153,NY,43.9616550307712,-75.9022369173221,PA,40.5266561258918,-77.8269602130124,1
154,NH,43.973130815468,-71.497906160348,IN,40.2490326631515,-85.6604766032736,1
155,ME,44.3646757311266,-69.7369123220753,IN,40.2490326631515,-85.6604766032736,1
156,VT,44.4086444117035,-71.987818926482,PA,40.5266561258918,-77.8269602130124,1
157,VT,44.4737663776314,-73.2228904778506,NY,40.7220752067917,-73.7068341419121,1
158,ME,44.672309805652,-68.4163627150221,IN,40.2490326631515,-85.6604766032736,1
159,ME,44.8496480032224,-68.8459384951881,NJ,40.6240218011197,-74.8843774239638,2
160,VT,45.0088050849423,-71.489101510276,PA,40.0730558106315,-76.3141886839793,2
161,ME,46.2244491577148,-68.0458221435547,PA,41.4542864255809,-79.6519755218344,1

In [9]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from return_package_info where origin_lat ="''" or dest_lat ="''" group by origin_lat,dest_lat' )
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,TX,32.745762503794,-97.3281747471537,6382
1,,,,TX,32.9602558381961,-96.8380888773413,5149
2,,,,GA,33.7554224110405,-84.3904423185221,21752
3,,,,CA,33.9962289444077,-117.372113197087,529
4,,,,CA,34.0974426269531,-117.292900085449,3176
5,,,,CA,34.3729934692383,-119.306915283203,666
6,,,,NC,35.911301017443,-77.7362497363615,17181
7,,,,VA,37.5392326292499,-77.4374487131616,15
8,,,,MD,38.3759221931837,-75.643197513886,16
9,,,,MD,39.4477721717067,-77.3342903346635,232
10,,,,MD,39.4748982668505,-76.2084143365847,18
11,,,,MD,39.6865546812135,-76.8461063568031,986
12,,,,PA,39.9589519819136,-76.7338584141311,5
13,,,,PA,40.0730558106315,-76.3141886839793,44529
14,,,,PA,40.1567631818116,-76.2045168810913,5240
15,,,,IN,40.2490326631515,-85.6604766032736,38477
16,,,,PA,40.3162370614182,-79.5350161954073,31
17,,,,PA,40.4692977017575,-75.6482993536905,125
18,,,,PA,40.5266561258918,-77.8269602130124,20476
19,,,,NJ,40.5833124911422,-74.2703150322948,1194
20,,,,PA,40.6032267522707,-75.4696989223711,23
21,,,,NJ,40.6240218011197,-74.8843774239638,2829
22,,,,NY,40.7049329101236,-73.7938723442845,1667
23,,,,NY,40.7220752067917,-73.7068341419121,1507
24,,,,NY,40.7458765271783,-73.9401086213694,17
25,,,,NY,40.7467145052922,-73.6395425596232,3
26,,,,NJ,40.9151229858398,-74.5807952880859,23
27,,,,NJ,41.0331440150586,-74.1332355995617,6
28,,,,PA,41.1823690190279,-75.7524397228504,3312
29,,,,PA,41.2433794220387,-75.885391254118,2
30,,,,PA,41.4542864255809,-79.6519755218344,7753
31,,,,IA,41.9754515759122,-91.6587232808614,4858
32,,,,MA,42.077750776689,-71.0424176095744,2
33,,,,MA,42.5853946189292,-71.8170603313981,124
34,,,,NH,42.8706400439212,-71.6071227268889,36
35,,,,NY,42.8965886623808,-78.8865218406153,7

## deliver null calculation

In [15]:
#count allpackages
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018')
totalDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalDelPackage_df

KeyboardInterrupt:

In [13]:
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018 where originfacilityzip = "''"')
oriNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
oriNullDelPackage_df

   totalnullcount
0               0

In [18]:
result = engine.execute('select sum(count) from deliver_package_info where dest_lat = "''" ')
destNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
destNullDelPackage_df

  totalnullcount
0        1195932

In [19]:
print(oriNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)
print(destNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)

0.01652876811578988340548182070
1.931530458301038385859359467

## Return null calculation

In [20]:
result = engine.execute('select sum(count) from return_package_info ')
totalReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalReturnPackage_df

  totalcount
0   33276614

In [21]:
result = engine.execute('select sum(count) from return_package_info where origin_lat = "''" ')
oriNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
oriNullReturnPackage_df

  nullcount
0    188348

In [22]:
result = engine.execute('select sum(count) from return_package_info where dest_lat = "''" ')
destNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
destNullReturnPackage_df

  nullcount
0      None

In [23]:
print(oriNullReturnPackage_df['nullcount'][0]/totalReturnPackage_df['totalcount'][0]*100)

0.5660071063720605708261062859

## Input Data Starts here

## facility locations

In [47]:
# hub locations
facility_df=pd.DataFrame()
facility_df['ID']=["F"+str(i) for i in range(101,111)]
facility_df['lat']=[40.272873706173655,44.89515483095407,42.304686965277391,38.563117084832918,40.799492838763541,
                    40.642102443412682,41.622412156211446,42.717481071824182,41.775317822514765,39.637607998749651]
facility_df['lng']=[-78.437189786669663,-70.792749586986645,-77.008752286812296,-77.934078803323573,-80.429785375722489,
                    -81.09876856469576,-75.298832812376659,-72.696958353258665,-71.910726787671877,-75.921949353175265]
facility_df

     ID        lat        lng
0  F101  40.272874 -78.437190
1  F102  44.895155 -70.792750
2  F103  42.304687 -77.008752
3  F104  38.563117 -77.934079
4  F105  40.799493 -80.429785
5  F106  40.642102 -81.098769
6  F107  41.622412 -75.298833
7  F108  42.717481 -72.696958
8  F109  41.775318 -71.910727
9  F110  39.637608 -75.921949

## delivery initial locations

In [136]:
Initial_df=pd.DataFrame()
df1=delPackage_df[['origin_zip3','origin_lat','origin_lng']]
df2=rePackage_df[['origin_zip3','origin_lat','origin_lng']]
initmp_df=df1.append(df2)
initmp_df=initmp_df.reset_index(drop=True)
n=len(initmp_df)

Id=[]
Lat=[]
Lng=[]

iniloc_dic={}
cnt=0

for i in range(0,n):
    zip3=str(initmp_df.iloc[i]['origin_zip3'])
    if zip3 not in iniloc_dic:
        cnt+=1
        d='i'+str(cnt)
        Id.append(iniloc_dic.setdefault(zip3,d))
        Lat.append(initmp_df['origin_lat'][i])
        Lng.append(initmp_df['origin_lng'][i])
Initial_df['ID']=Id
Initial_df['lat']=Lat
Initial_df['lng']=Lng

Initial_df

     ID               lat                lng
0    i1  33.7554224110405  -84.3904423185221
1    i2   38.795345473114  -76.0826444285563
2    i3  40.0879778724422  -82.6129450831437
3    i4  40.1269047717822  -75.1256831129385
4    i5  40.2490326631515  -85.6604766032736
5    i6  40.5266561258918  -77.8269602130124
6    i7  40.5804379499168  -79.9554146477495
7    i8  40.6240218011197  -74.8843774239638
8    i9  40.7049329101236  -73.7938723442845
9   i10  40.7220752067917  -73.7068341419121
10  i11  40.7505956027072  -73.9969904238369
11  i12  41.4542864255809  -79.6519755218344
12  i13   41.791323312423  -72.8538070382769
13  i14  39.5851778604444  -75.6993444178467
14  i15  40.3531759321287  -75.9404565195716
15  i16  30.2706053511004  -97.7433982939145
16  i17  41.2922361699564  -73.7604420299132
17  i18  42.5853946189292  -71.8170603313981
18  i19  40.0730558106315  -76.3141886839793
19  i20  40.5833124911422  -74.2703150322948
20  i21  40.3162370614182  -79.5350161954073
21  i22  39.6865546812135  -76.8461063568031
22  i23  34.0974426269531  -117.292900085449
23  i24  41.1823690190279  -75.7524397228504
24  i25   35.911301017443  -77.7362497363615
25  i26  42.8706400439212  -71.6071227268889
26  i27  40.1567631818116  -76.2045168810913
27  i28  32.9602558381961  -96.8380888773413

## delivery return final locations

##  initial location

In [137]:
Final_df=pd.DataFrame()
df1=delPackage_df[['dest_zip3','dest_lat','dest_lng']]
df2=rePackage_df[['dest_zip3','dest_lat','dest_lng']]
fintmp_df=df1.append(df2)
fintmp_df=fintmp_df.reset_index(drop=True)
n=len(fintmp_df)

Id=[]
Lat=[]
Lng=[]

finalloc_dic={}
cnt=0

for i in range(0,n):
    zip3=str(fintmp_df.iloc[i]['dest_zip3'])
    if zip3 not in finalloc_dic:
        cnt+=1
        d='k'+str(cnt)
        Id.append(finalloc_dic.setdefault(zip3,d))
        Lat.append(fintmp_df['dest_lat'][i])
        Lng.append(fintmp_df['dest_lng'][i])
Final_df['ID']=Id
Final_df['lat']=Lat
Final_df['lng']=Lng

Final_df

     ID               lat                lng
0    k1  42.1056970748294  -72.5980788159072
1    k2  40.6819634281226  -73.4125545304573
2    k3  41.3447619004598   -73.068704647852
3    k4  33.7554224110405  -84.3904423185221
4    k5   42.485950411217  -71.1553696696814
5    k6  40.2200553459778  -74.7606863536026
6    k7  40.2490326631515  -85.6604766032736
7    k8  42.1968723825208  -71.8453871667191
8    k9   43.530478933588  -70.9212281508382
9   k10  37.5392326292499  -77.4374487131616
10  k11  43.1591428523363  -77.6068194844908
11  k12  42.6472800295118  -73.7516930834563
12  k13  43.6747130026572  -72.3860024850608
13  k14  41.8258558538419  -71.4134288124013
14  k15  40.1269047717822  -75.1256831129385
15  k16  37.2548440359096  -75.7987198574783
16  k17  39.4748982668505  -76.2084143365847
17  k18  42.8965886623808  -78.8865218406153
18  k19  36.8517460063432  -76.2800020807876
19  k20  37.0458849267273  -76.4679680206234
20  k21  37.2706334855373  -79.9411734251418
21  k22  37.7104569783371  -77.8364615182062
22  k23  38.3510365905497  -81.6282391249495
23  k24   38.795345473114  -76.0826444285563
24  k25   38.830674055139  -77.2134826436305
25  k26  39.1250801086426  -76.8025207519531
26  k27  39.2939663221704  -76.6223873270678
27  k28  39.5851778604444  -75.6993444178467
28  k29  39.9526139495128   -75.183696779919
29  k30  40.0730558106315  -76.3141886839793
..  ...               ...                ...
46  k47  43.0435782151902  -76.1507035299336
47  k48  44.8496480032224  -68.8459384951881
48  k49  37.2378270001316  -77.3361824196274
49  k50   38.088397042988   -78.555480911151
50  k51  38.9381480373809  -77.1641323357583
51  k52  38.9664106077759  -77.1436065879662
52  k53  39.4174745326912  -74.4863687744038
53  k54  39.5518083812818  -75.3523123924866
54  k55  39.9460607680924   -75.121656324572
55  k56  40.0409889807051  -75.4821668907568
56  k57  40.0699778498526   -80.650842414691
57  k58  40.3278437185358  -78.9138177538114
58  k59  40.5547381294023  -78.3683922585511
59  k60  40.6970240928097  -73.9890018436833
60  k61  40.8890286852354  -74.0457692553894
61  k62  40.9879512046988   -80.287802825359
62  k63  41.4542864255809  -79.6519755218344
63  k64   41.784464601322  -71.0607687937182
64  k65  43.0727535404586  -70.8040595470843
65  k66  43.0974835325808  -77.3380411445769
66  k67  44.4737663776314  -73.2228904778506
67  k68  41.1434616274125  -74.1238460876456
68  k69  41.9373207092285  -74.0013847351074
69  k70  37.3507955981197  -77.9612614629298
70  k71  39.1770947440935   -75.470750343342
71  k72  40.8203021446599  -73.9239356970308
72  k73  42.3884945851826  -78.5413524481462
73  k74  38.4036477843555  -78.8757027983826
74  k75  41.3450859998913   -76.894835936402
75  k76  42.5994546303793  -76.0640448226187

[76 rows x 3 columns]

In [114]:
df_locations = pd.concat([Initial_df,facility_df,Final_df],ignore_index=True)
df_locations

       ID               lat                lng
0      i1  33.7554224110405  -84.3904423185221
1      i2   38.795345473114  -76.0826444285563
2      i3  40.0879778724422  -82.6129450831437
3      i4  40.1269047717822  -75.1256831129385
4      i5  40.2490326631515  -85.6604766032736
5      i6  40.5266561258918  -77.8269602130124
6      i7  40.5804379499168  -79.9554146477495
7      i8  40.6240218011197  -74.8843774239638
8      i9  40.7049329101236  -73.7938723442845
9     i10  40.7220752067917  -73.7068341419121
10    i11  40.7505956027072  -73.9969904238369
11    i12  41.4542864255809  -79.6519755218344
12    i13   41.791323312423  -72.8538070382769
13    i14  39.5851778604444  -75.6993444178467
14    i15  40.3531759321287  -75.9404565195716
15    i16  30.2706053511004  -97.7433982939145
16    i17  41.2922361699564  -73.7604420299132
17    i18  42.5853946189292  -71.8170603313981
18    i19  40.0730558106315  -76.3141886839793
19    i20  40.5833124911422  -74.2703150322948
20    i21  40.3162370614182  -79.5350161954073
21    i22  39.6865546812135  -76.8461063568031
22    i23  34.0974426269531  -117.292900085449
23    i24  41.1823690190279  -75.7524397228504
24    i25   35.911301017443  -77.7362497363615
25    i26  42.8706400439212  -71.6071227268889
26    i27  40.1567631818116  -76.2045168810913
27    i28  32.9602558381961  -96.8380888773413
28   F101           40.2729           -78.4372
29   F102           44.8952           -70.7927
..    ...               ...                ...
84    k47  43.0435782151902  -76.1507035299336
85    k48  44.8496480032224  -68.8459384951881
86    k49  37.2378270001316  -77.3361824196274
87    k50   38.088397042988   -78.555480911151
88    k51  38.9381480373809  -77.1641323357583
89    k52  38.9664106077759  -77.1436065879662
90    k53  39.4174745326912  -74.4863687744038
91    k54  39.5518083812818  -75.3523123924866
92    k55  39.9460607680924   -75.121656324572
93    k56  40.0409889807051  -75.4821668907568
94    k57  40.0699778498526   -80.650842414691
95    k58  40.3278437185358  -78.9138177538114
96    k59  40.5547381294023  -78.3683922585511
97    k60  40.6970240928097  -73.9890018436833
98    k61  40.8890286852354  -74.0457692553894
99    k62  40.9879512046988   -80.287802825359
100   k63  41.4542864255809  -79.6519755218344
101   k64   41.784464601322  -71.0607687937182
102   k65  43.0727535404586  -70.8040595470843
103   k66  43.0974835325808  -77.3380411445769
104   k67  44.4737663776314  -73.2228904778506
105   k68  41.1434616274125  -74.1238460876456
106   k69  41.9373207092285  -74.0013847351074
107   k70  37.3507955981197  -77.9612614629298
108   k71  39.1770947440935   -75.470750343342
109   k72  40.8203021446599  -73.9239356970308
110   k73  42.3884945851826  -78.5413524481462
111   k74  38.4036477843555  -78.8757027983826
112   k75  41.3450859998913   -76.894835936402
113   k76  42.5994546303793  -76.0640448226187

[114 rows x 3 columns]

In [116]:
#facility facility distance
dist = pd.DataFrame()

initials=[]
finals=[]
distance=[]

k=0
for i in range(len(df_locations)):
    for j in range(len(df_locations)):
        distance.append(cal_distance(float(df_locations['lat'][i]),float(df_locations['lat'][j]),float(df_locations['lng'][i]),float(df_locations['lng'][j])))
        initials.append(df_locations['ID'][i])
        finals.append(df_locations['ID'][j])

dist['initial']=initials
dist['final']=finals
dist['distance']=distance


dist

      initial final     distance
0          i1    i1     0.000000
1          i1    i2   579.023139
2          i1    i3   448.625144
3          i1    i4   674.617644
4          i1    i5   454.329022
5          i1    i6   591.157469
6          i1    i7   531.123696
7          i1    i8   705.973183
8          i1    i9   754.647230
9          i1   i10   759.031376
10         i1   i11   747.980828
11         i1   i12   591.869599
12         i1   i13   838.849736
13         i1   i14   627.658556
14         i1   i15   651.585213
15         i1   i16   818.217037
16         i1   i17   780.645053
17         i1   i18   914.440003
18         i1   i19   623.969747
19         i1   i20   729.574978
20         i1   i21   526.563229
21         i1   i22   585.121393
22         i1   i23  1879.198599
23         i1   i24   697.995623
24         i1   i25   405.811797
25         i1   i26   934.969972
26         i1   i27   632.149560
27         i1   i28   720.395930
28         i1  F101   557.344271
29         i1  F102  1056.291967
...       ...   ...          ...
12966     k76   k47    31.015003
12967     k76   k48   392.539311
12968     k76   k49   376.721334
12969     k76   k50   338.307806
12970     k76   k51   259.568658
12971     k76   k52   257.423536
12972     k76   k53   234.849475
12973     k76   k54   213.920601
12974     k76   k55   189.847264
12975     k76   k56   179.426326
12976     k76   k57   295.327856
12977     k76   k58   215.507469
12978     k76   k59   184.863826
12979     k76   k60   169.651247
12980     k76   k61   157.527517
12981     k76   k62   244.499198
12982     k76   k63   200.511981
12983     k76   k64   262.335786
12984     k76   k65   268.598603
12985     k76   k66    73.173836
12986     k76   k67   192.491267
12987     k76   k68   141.788019
12988     k76   k69   115.014034
12989     k76   k70   376.471955
12990     k76   k71   238.608210
12991     k76   k72   165.291300
12992     k76   k73   127.109795
12993     k76   k74   325.488512
12994     k76   k75    96.655662
12995     k76   k76     0.000000

[12996 rows x 3 columns]

In [122]:
f= open("distance.txt","w+")
for i in range(len(dist)):
    f.write("%s " % (dist['initial'][i]))
    f.write("%s " % (dist['final'][i]))
    f.write("%d\r\n" % (dist['distance'][i]))
f.close()

In [124]:
f= open("paramcapital.txt","w+")
for i in range(len(facility_df)):
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (1000000))
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (4000000))
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (10000000))
f.close()

In [125]:
f= open("utility.txt","w+")
for i in range(len(facility_df)):
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (500))
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (700))
    f.write("%s " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (1000))
f.close()

## packages

In [147]:

packageparam=pd.DataFrame()
# for j in range(n,n*n)
#     for k in initDelID:
#         for i in finalDelID:
#final locations

tmp_df=delPackage_df.append(rePackage_df)
tmp_df.reset_index(drop=True)

init_ID=[]
final_ID=[]
cnt=[]
n=len(tmp_df)



for i in range(0,n):
    originzip3=str(tmp_df.iloc[i]['origin_zip3'])
    destzip3=str(tmp_df.iloc[i]['dest_zip3'])
    init_ID.append(iniloc_dic[originzip3])
    final_ID.append(finalloc_dic[destzip3])
    cnt.append(tmp_df.iloc[i]['count'])
    
    
packageparam['initID']=init_ID
packageparam['finalID']=final_ID
packageparam['packages']=cnt
packageparam

    initID finalID  packages
0       i1      k1        12
1       i2      k1         2
2       i3      k1        17
3       i4      k2         1
4       i5      k1        33
5       i6      k1         3
6       i7      k1         1
7       i8      k3         1
8       i9      k4         3
9      i10      k5         2
10     i11      k6         1
11     i12      k7        14
12     i13      k8         1
13      i1      k1         5
14      i2      k1         4
15     i14      k9         1
16      i3      k1        23
17      i5      k1        43
18      i6      k1         3
19      i7      k8         1
20      i8      k1         2
21      i9     k10         1
22     i10      k1        25
23     i11     k11         1
24     i12      k4      2196
25     i13      k8         4
26      i1      k1         7
27      i2      k1         2
28      i3      k1        28
29      i5      k1        32
..     ...     ...       ...
343    i20     k60         8
344    i20     k37         2
345    i20     k38         2
346    i18     k39         1
347    i20     k61         3
348     i6     k40         2
349    i20     k41         3
350    i18      k3         1
351    i28     k75         1
352     i8     k63         2
353    i18     k64         2
354    i20     k14         7
355    i20     k42         1
356    i20     k43         1
357     i5      k1         2
358    i20      k8         1
359    i18     k44         1
360    i20     k45         3
361    i19     k73         1
362    i20      k5         1
363    i19     k76         1
364    i20     k12         2
365    i20     k18         3
366    i18     k46         1
367    i18     k47         1
368     i8     k65         1
369    i20     k11         2
370    i20      k9         4
371    i20     k13         3
372    i26     k67         1

[373 rows x 3 columns]

In [149]:
f= open("packageparam.txt","w+")
for i in range(len(packageparam)):
    f.write("%s " % (packageparam['initID'][i]))
    f.write("%s " % (packageparam['finalID'][i]))
    f.write("%d\n" % (packageparam['packages'][i]))
f.close()

In [151]:
f= open("locations.txt","w+")
for i in range(len(df_locations)):
    f.write("%s " % (df_locations['ID'][i]))
f.close()