In [1]:
import pandas as pd
import numpy as np

In [2]:
from math import sin, cos, sqrt, atan2, radians


def cal_distance(lat1,lat2,lon1,lon2):
    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # change km to mile
    distance = R * c / 1.609
    
    return distance

In [3]:
user="cornell"
password="Pitney@1a"
host="gec-dwh.ctz5iw1v2fh7.us-west-2.rds.amazonaws.com"
db="cornell"

conn = f"mysql+pymysql://{user}:{password}@{host}/{db}"

In [4]:
from sqlalchemy import create_engine

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}/{db}")
from pandas.io import sql
import pandas as pd

## deliver and return datas

In [75]:
#deliver datas
result = engine.execute('select origindate,origin_state,dest_zip3,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from deliver_package_info where origin_lat !="''" and dest_lat !="''" and origindate="2018-08-19" group by origindate,origin_lat,origin_lng')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origindate','origin_state','dest_zip3','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','count'])
delPackage_df

,origindate,origin_state,dest_zip3,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count
0,2018-08-19,GA,011,33.7554224110405,-84.3904423185221,MA,42.1056970748294,-72.5980788159072,12
1,2018-08-19,MD,011,38.795345473114,-76.0826444285563,MA,42.1056970748294,-72.5980788159072,2
2,2018-08-19,OH,011,40.0879778724422,-82.6129450831437,MA,42.1056970748294,-72.5980788159072,17
3,2018-08-19,PA,117,40.1269047717822,-75.1256831129385,NY,40.6819634281226,-73.4125545304573,1
4,2018-08-19,IN,011,40.2490326631515,-85.6604766032736,MA,42.1056970748294,-72.5980788159072,33
5,2018-08-19,PA,011,40.5266561258918,-77.8269602130124,MA,42.1056970748294,-72.5980788159072,3
6,2018-08-19,PA,011,40.5804379499168,-79.9554146477495,MA,42.1056970748294,-72.5980788159072,1
7,2018-08-19,NJ,064,40.6240218011197,-74.8843774239638,CT,41.3447619004598,-73.068704647852,1
8,2018-08-19,NY,303,40.7049329101236,-73.7938723442845,GA,33.7554224110405,-84.3904423185221,3
9,2018-08-19,NY,018,40.7220752067917,-73.7068341419121,MA,42.485950411217,-71.1553696696814,2
10,2018-08-19,NY,086,40.7505956027072,-73.9969904238369,NJ,40.2200553459778,-74.7606863536026,1
11,2018-08-19,PA,460,41.4542864255809,-79.6519755218344,IN,40.2490326631515,-85.6604766032736,14
12,2018-08-19,CT,015,41.791323312423,-72.8538070382769,MA,42.1968723825208,-71.8453871667191,1

In [ ]:
deliver_package_info

In [6]:
#deliver datas with null
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from deliver_package_info where origin_lat = "''" or dest_lat = "''" group by origin_lat,dest_lat')
delPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
delPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,,,,20
1,,,,GA,33.7554224110405,-84.3904423185221,7689
2,,,,IN,40.2490326631515,-85.6604766032736,2524
3,,,,NJ,40.5833124911422,-74.2703150322948,1
4,TX,30.2706053511004,-97.7433982939145,,,,2
5,GA,33.7554224110405,-84.3904423185221,,,,3622
6,OH,40.0879778724422,-82.6129450831437,,,,25686
7,IN,40.2490326631515,-85.6604766032736,,,,50555
8,PA,40.3531759321287,-75.9404565195716,,,,2
9,PA,40.5266561258918,-77.8269602130124,,,,1879
10,PA,40.5804379499168,-79.9554146477495,,,,1
11,NJ,40.6240218011197,-74.8843774239638,,,,2
12,NY,40.7220752067917,-73.7068341419121,,,,8133
13,NY,40.7458765271783,-73.9401086213694,,,,1104153
14,CT,41.3447619004598,-73.068704647852,,,,4
15,CT,41.791323312423,-72.8538070382769,,,,1873

In [10]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count from return_package_info where origin_lat !="''" and dest_lat !="''" group by origin_lat,origin_lng')
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','count'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,count
0,GA,33.7554224110405,-84.3904423185221,PA,40.1567631818116,-76.2045168810913,1
1,VA,36.8517460063432,-76.2800020807876,MD,39.4748982668505,-76.2084143365847,4
2,VA,37.0458849267273,-76.4679680206234,PA,40.1567631818116,-76.2045168810913,1
3,VA,37.0629350128409,-80.7944718470008,IN,40.2490326631515,-85.6604766032736,1
4,VA,37.1776874595886,-79.8012013665201,PA,40.0730558106315,-76.3141886839793,1
5,VA,37.2378270001316,-77.3361824196274,CA,33.9962289444077,-117.372113197087,1
6,VA,37.2548440359096,-75.7987198574783,PA,41.2433794220387,-75.885391254118,2
7,VA,37.2706334855373,-79.9411734251418,GA,33.7554224110405,-84.3904423185221,10
8,WV,37.301097505709,-81.219490448085,PA,41.4542864255809,-79.6519755218344,1
9,VA,37.3507955981197,-77.9612614629298,PA,41.4542864255809,-79.6519755218344,3
10,VA,37.3582193349599,-79.1458222743395,MA,42.5853946189292,-71.8170603313981,2
11,VA,37.3818626403809,-75.7334594726563,GA,33.7554224110405,-84.3904423185221,2
12,VA,37.5392326292499,-77.4374487131616,NJ,40.9151229858398,-74.5807952880859,1
13,VA,37.7104569783371,-77.8364615182062,PA,41.2433794220387,-75.885391254118,4
14,VA,37.7528281164671,-76.5133422733761,GA,33.7554224110405,-84.3904423185221,1
15,VA,38.088397042988,-78.555480911151,NJ,40.6240218011197,-74.8843774239638,1
16,VA,38.1313100222885,-79.0886474489815,PA,40.0730558106315,-76.3141886839793,1
17,WV,38.251464922047,-81.771408820272,PA,41.4542864255809,-79.6519755218344,380
18,VA,38.2964852824198,-77.4825984893031,PA,41.1823690190279,-75.7524397228504,2
19,WV,38.3180111115549,-81.8557992355087,TX,32.745762503794,-97.3281747471537,1
20,WV,38.3510365905497,-81.6282391249495,CT,41.791323312423,-72.8538070382769,1
21,VA,38.4036477843555,-78.8757027983826,NY,42.8965886623808,-78.8865218406153,3
22,VA,38.4381132558566,-77.9980224567107,IN,40.2490326631515,-85.6604766032736,33
23,MD,38.6176487130023,-76.8552682490031,MD,39.4477721717067,-77.3342903346635,1
24,MD,38.795345473114,-76.0826444285563,PA,40.1567631818116,-76.2045168810913,1
25,VA,38.8199755074821,-77.059308330927,PA,41.1823690190279,-75.7524397228504,34
26,VA,38.830674055139,-77.2134826436305,NJ,40.9151229858398,-74.5807952880859,16
27,VA,38.8864730869865,-77.095282559385,NY,40.7049329101236,-73.7938723442845,6
28,VA,38.9381480373809,-77.1641323357583,NC,35.911301017443,-77.7362497363615,32
29,MD,38.9664106077759,-77.1436065879662,TX,32.745762503794,-97.3281747471537,1625
...,...,...,...,...,...,...,...
132,NY,42.5994546303793,-76.0640448226187,PA,41.4542864255809,-79.6519755218344,3
133,MA,42.6271204390973,-72.6052347738515,PA,40.0730558106315,-76.3141886839793,1
134,NY,42.6472800295118,-73.7516930834563,MD,39.4748982668505,-76.2084143365847,4
135,NY,42.8205889001901,-76.0739626162053,GA,33.7554224110405,-84.3904423185221,1
136,NH,42.8706400439212,-71.6071227268889,PA,40.0730558106315,-76.3141886839793,1
137,NY,42.8965886623808,-78.8865218406153,MD,39.4748982668505,-76.2084143365847,4
138,NY,42.90220622487,-75.5004184209062,PA,40.0730558106315,-76.3141886839793,1
139,NH,42.9668030237277,-72.2966382515709,GA,33.7554224110405,-84.3904423185221,1
140,NH,42.9885494067885,-71.4658168318337,VA,37.5392326292499,-77.4374487131616,3
141,NY,43.0435782151902,-76.1507035299336,PA,41.2433794220387,-75.885391254118,2
142,NH,43.0727535404586,-70.8040595470843,NJ,41.0331440150586,-74.1332355995617,1
143,NY,43.0974835325808,-77.3380411445769,NJ,40.6240218011197,-74.8843774239638,2
144,NY,43.1591428523363,-77.6068194844908,CA,34.3729934692383,-119.306915283203,212
145,VT,43.1803170078988,-72.4961172508692,PA,40.0730558106315,-76.3141886839793,1
146,NY,43.196902717047,-77.8555774166891,PA,40.0730558106315,-76.3141886839793,1
147,NY,43.3108944460411,-73.6449816899646,PA,40.1567631818116,-76.2045168810913,1
148,NY,43.4188104166623,-75.2172803980479,NC,35.911301017443,-77.7362497363615,1
149,ME,43.530478933588,-70.9212281508382,NJ,40.9151229858398,-74.5807952880859,4
150,VT,43.6333772575043,-72.9169784379936,PA,41.1823690190279,-75.7524397228504,2
151,VT,43.6747130026572,-72.3860024850608,MD,39.4748982668505,-76.2084143365847,9
152,ME,43.893249051325,-69.8307580002148,NY,40.7220752067917,-73.7068341419121,1
153,NY,43.9616550307712,-75.9022369173221,PA,40.5266561258918,-77.8269602130124,1
154,NH,43.973130815468,-71.497906160348,IN,40.2490326631515,-85.6604766032736,1
155,ME,44.3646757311266,-69.7369123220753,IN,40.2490326631515,-85.6604766032736,1
156,VT,44.4086444117035,-71.987818926482,PA,40.5266561258918,-77.8269602130124,1
157,VT,44.4737663776314,-73.2228904778506,VA,37.5392326292499,-77.4374487131616,1
158,ME,44.672309805652,-68.4163627150221,IN,40.2490326631515,-85.6604766032736,1
159,ME,44.8496480032224,-68.8459384951881,PA,40.1567631818116,-76.2045168810913,1
160,VT,45.0088050849423,-71.489101510276,PA,40.0730558106315,-76.3141886839793,2
161,ME,46.2244491577148,-68.0458221435547,PA,41.4542864255809,-79.6519755218344,1

In [16]:
#return datas
result = engine.execute('select origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,sum(count) from return_package_info where origin_lat ="''" or dest_lat ="''" group by origin_lat,dest_lat' )
retPackage_df = pd.DataFrame(result.fetchall(),columns=['origin_state','origin_lat','origin_lng','dest_state','dest_lat','dest_lng','totalpackage'])
retPackage_df

,origin_state,origin_lat,origin_lng,dest_state,dest_lat,dest_lng,totalpackage
0,,,,TX,32.745762503794,-97.3281747471537,6382
1,,,,TX,32.9602558381961,-96.8380888773413,5149
2,,,,GA,33.7554224110405,-84.3904423185221,21752
3,,,,CA,33.9962289444077,-117.372113197087,529
4,,,,CA,34.0974426269531,-117.292900085449,3176
5,,,,CA,34.3729934692383,-119.306915283203,666
6,,,,NC,35.911301017443,-77.7362497363615,17181
7,,,,VA,37.5392326292499,-77.4374487131616,15
8,,,,MD,38.3759221931837,-75.643197513886,16
9,,,,MD,39.4477721717067,-77.3342903346635,232
10,,,,MD,39.4748982668505,-76.2084143365847,18
11,,,,MD,39.6865546812135,-76.8461063568031,986
12,,,,PA,39.9589519819136,-76.7338584141311,5
13,,,,PA,40.0730558106315,-76.3141886839793,44529
14,,,,PA,40.1567631818116,-76.2045168810913,5240
15,,,,IN,40.2490326631515,-85.6604766032736,38477
16,,,,PA,40.3162370614182,-79.5350161954073,31
17,,,,PA,40.4692977017575,-75.6482993536905,125
18,,,,PA,40.5266561258918,-77.8269602130124,20476
19,,,,NJ,40.5833124911422,-74.2703150322948,1194
20,,,,PA,40.6032267522707,-75.4696989223711,23
21,,,,NJ,40.6240218011197,-74.8843774239638,2829
22,,,,NY,40.7049329101236,-73.7938723442845,1667
23,,,,NY,40.7220752067917,-73.7068341419121,1507
24,,,,NY,40.7458765271783,-73.9401086213694,17
25,,,,NY,40.7467145052922,-73.6395425596232,3
26,,,,NJ,40.9151229858398,-74.5807952880859,23
27,,,,NJ,41.0331440150586,-74.1332355995617,6
28,,,,PA,41.1823690190279,-75.7524397228504,3312
29,,,,PA,41.2433794220387,-75.885391254118,2
30,,,,PA,41.4542864255809,-79.6519755218344,7753
31,,,,IA,41.9754515759122,-91.6587232808614,4858
32,,,,MA,42.077750776689,-71.0424176095744,2
33,,,,MA,42.5853946189292,-71.8170603313981,124
34,,,,NH,42.8706400439212,-71.6071227268889,36
35,,,,NY,42.8965886623808,-78.8865218406153,7

## deliver null calculation

In [15]:
#count allpackages
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018')
totalDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalDelPackage_df

KeyboardInterrupt:

In [13]:
result = engine.execute('select count(*) from cornell.ne_delivery_data_by_day_2018 where originfacilityzip = "''"')
oriNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
oriNullDelPackage_df

   totalnullcount
0               0

In [18]:
result = engine.execute('select sum(count) from deliver_package_info where dest_lat = "''" ')
destNullDelPackage_df = pd.DataFrame(result.fetchall(),columns=['totalnullcount'])
destNullDelPackage_df

  totalnullcount
0        1195932

In [19]:
print(oriNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)
print(destNullDelPackage_df['totalnullcount'][0]/totalDelPackage_df['totalcount'][0]*100)

0.01652876811578988340548182070
1.931530458301038385859359467

## Return null calculation

In [20]:
result = engine.execute('select sum(count) from return_package_info ')
totalReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['totalcount'])
totalReturnPackage_df

  totalcount
0   33276614

In [21]:
result = engine.execute('select sum(count) from return_package_info where origin_lat = "''" ')
oriNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
oriNullReturnPackage_df

  nullcount
0    188348

In [22]:
result = engine.execute('select sum(count) from return_package_info where dest_lat = "''" ')
destNullReturnPackage_df = pd.DataFrame(result.fetchall(),columns=['nullcount'])
destNullReturnPackage_df

  nullcount
0      None

In [23]:
print(oriNullReturnPackage_df['nullcount'][0]/totalReturnPackage_df['totalcount'][0]*100)

0.5660071063720605708261062859

## Input Data Starts here

## facility locations

In [17]:
# hub locations
facility_df=pd.DataFrame()
facility_df['ID']=[i for i in range(101,106)]
facility_df['lat']=[40.272873706173655,44.89515483095407,42.304686965277391,38.563117084832918,40.799492838763541]
facility_df['lng']=[-78.437189786669663,-70.792749586986645,-77.008752286812296,-77.934078803323573,-80.42978537572248]

## delivery initial locations

In [76]:
delInitial_df=pd.DataFrame()
n=len(delPackage_df)
delId=np.zeros(n)
delLat=np.zeros(n)
delLng=np.zeros(n)
for i in range(0,n):
    delId[i]=i+1
    delLat[i]=delPackage_df['origin_lat'][i]
    delLng[i]=delPackage_df['origin_lng'][i]
delInitial_df['ID']=delId
delInitial_df['lat']=delLat
delInitial_df['lng']=delLng

delInitial_df

      ID        lat        lng
0    1.0  33.755422 -84.390442
1    2.0  38.795345 -76.082644
2    3.0  40.087978 -82.612945
3    4.0  40.126905 -75.125683
4    5.0  40.249033 -85.660477
5    6.0  40.526656 -77.826960
6    7.0  40.580438 -79.955415
7    8.0  40.624022 -74.884377
8    9.0  40.704933 -73.793872
9   10.0  40.722075 -73.706834
10  11.0  40.750596 -73.996990
11  12.0  41.454286 -79.651976
12  13.0  41.791323 -72.853807

In [88]:
#final locations
delFinal_df=pd.DataFrame()
n=len(delPackage_df)
delId=[]
delLat=[]
delLng=[]
loc_dic={}
cnt=200
for i in range(0,n):
    zip3=str(delPackage_df.iloc[i]['dest_zip3'])
    if zip3 not in loc_dic:

        cnt+=1

        delId.append(loc_dic.setdefault(zip3,cnt))    

        delLat.append(delPackage_df['dest_lat'][i])
        delLng.append(delPackage_df['dest_lng'][i])
    
delFinal_df['ID']=delId
delFinal_df['lat']=delLat
delFinal_df['lng']=delLng

delFinal_df

    ID               lat                lng
0  201  42.1056970748294  -72.5980788159072
1  202  40.6819634281226  -73.4125545304573
2  203  41.3447619004598   -73.068704647852
3  204  33.7554224110405  -84.3904423185221
4  205   42.485950411217  -71.1553696696814
5  206  40.2200553459778  -74.7606863536026
6  207  40.2490326631515  -85.6604766032736
7  208  42.1968723825208  -71.8453871667191

In [89]:
df_locations = pd.concat([delInitial_df,facility_df,delFinal_df],ignore_index=True)
df_locations

       ID               lat                lng
0     1.0           33.7554           -84.3904
1     2.0           38.7953           -76.0826
2     3.0            40.088           -82.6129
3     4.0           40.1269           -75.1257
4     5.0            40.249           -85.6605
5     6.0           40.5267            -77.827
6     7.0           40.5804           -79.9554
7     8.0            40.624           -74.8844
8     9.0           40.7049           -73.7939
9    10.0           40.7221           -73.7068
10   11.0           40.7506            -73.997
11   12.0           41.4543            -79.652
12   13.0           41.7913           -72.8538
13  101.0           40.2729           -78.4372
14  102.0           44.8952           -70.7927
15  103.0           42.3047           -77.0088
16  104.0           38.5631           -77.9341
17  105.0           40.7995           -80.4298
18  201.0  42.1056970748294  -72.5980788159072
19  202.0  40.6819634281226  -73.4125545304573
20  203.0  41.3447619004598   -73.068704647852
21  204.0  33.7554224110405  -84.3904423185221
22  205.0   42.485950411217  -71.1553696696814
23  206.0  40.2200553459778  -74.7606863536026
24  207.0  40.2490326631515  -85.6604766032736
25  208.0  42.1968723825208  -71.8453871667191

In [90]:
#facility facility distance
dist = np.zeros(shape=(len(df_locations)*len(df_locations),3))

k=0
for i in range(len(df_locations)):
    for j in range(len(df_locations)):
        dist[k][2] = cal_distance(float(df_locations['lat'][i]),float(df_locations['lat'][j]),float(df_locations['lng'][i]),float(df_locations['lng'][j]))
        dist[k][0]=df_locations['ID'][i]
        dist[k][1]=df_locations['ID'][j]
        k+=1
dist = pd.DataFrame(dist,columns=['initial','destination','distance'])

dist

     initial  destination     distance
0        1.0          1.0     0.000000
1        1.0          2.0   579.023139
2        1.0          3.0   448.625144
3        1.0          4.0   674.617644
4        1.0          5.0   454.329022
5        1.0          6.0   591.157469
6        1.0          7.0   531.123696
7        1.0          8.0   705.973183
8        1.0          9.0   754.647230
9        1.0         10.0   759.031376
10       1.0         11.0   747.980828
11       1.0         12.0   591.869599
12       1.0         13.0   838.849736
13       1.0        101.0   557.344271
14       1.0        102.0  1056.291967
15       1.0        103.0   714.087939
16       1.0        104.0   489.969040
17       1.0        105.0   533.310258
18       1.0        201.0   862.580396
19       1.0        202.0   769.983816
20       1.0        203.0   811.337513
21       1.0        204.0     0.000000
22       1.0        205.0   937.348591
23       1.0        206.0   693.839415
24       1.0        207.0   454.329022
25       1.0        208.0   897.085713
26       2.0          1.0   579.023139
27       2.0          2.0     0.000000
28       2.0          3.0   359.807424
29       2.0          4.0   105.268963
..       ...          ...          ...
646    207.0        205.0   767.244075
647    207.0        206.0   574.868032
648    207.0        207.0     0.000000
649    207.0        208.0   729.984303
650    208.0          1.0   897.085713
651    208.0          2.0   323.815217
652    208.0          3.0   578.759873
653    208.0          4.0   222.729772
654    208.0          5.0   729.984303
655    208.0          6.0   331.046792
656    208.0          7.0   435.015801
657    208.0          8.0   191.416556
658    208.0          9.0   144.318451
659    208.0         10.0   140.329305
660    208.0         11.0   149.710557
661    208.0         12.0   405.265165
662    208.0         13.0    58.909091
663    208.0        101.0   367.465408
664    208.0        102.0   193.840361
665    208.0        103.0   264.276481
666    208.0        104.0   407.134232
667    208.0        105.0   454.632765
668    208.0        201.0    39.087683
669    208.0        202.0   132.521707
670    208.0        203.0    86.299992
671    208.0        204.0   897.085713
672    208.0        205.0    40.527149
673    208.0        206.0   204.091489
674    208.0        207.0   729.984303
675    208.0        208.0     0.000000

[676 rows x 3 columns]

In [91]:
f= open("distance.txt","w+")
for i in range(len(dist)):
     f.write("%d " % (dist['initial'][i]))
     f.write("%d " % (dist['destination'][i]))
     f.write("%d\r\n" % (dist['distance'][i]))
f.close()

In [92]:
f= open("paramcapital.txt","w+")
for i in range(len(facility_df)):
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (1000000))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (4000000))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (10000000))
f.close()

In [93]:
f= open("utility.txt","w+")
for i in range(len(facility_df)):
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('small'))
    f.write("%d\n" % (500))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('medium'))
    f.write("%d\n" % (700))
    f.write("%d " % (facility_df['ID'][i]))
    f.write("%s " % ('large'))
    f.write("%d\n" % (1000))
f.close()

## packages

In [101]:

packageparam=pd.DataFrame()
# for j in range(n,n*n)
#     for k in initDelID:
#         for i in finalDelID:
#final locations
delFinal_df=pd.DataFrame()
init_ID=[]
final_ID=[]
n=len(delPackage_df)
delId=[]
cnt=200
for i in range(0,n):
    zip3=str(delPackage_df.iloc[i]['dest_zip3'])
    final_ID.append(loc_dic[zip3])
    
    

delFinal_df['ID']=delId
packageparam['initID']=delInitial_df['ID']
packageparam['finalID']=final_ID
packageparam['packages']=delPackage_df['count']
packageparam

    initID  finalID  packages
0      1.0      201        12
1      2.0      201         2
2      3.0      201        17
3      4.0      202         1
4      5.0      201        33
5      6.0      201         3
6      7.0      201         1
7      8.0      203         1
8      9.0      204         3
9     10.0      205         2
10    11.0      206         1
11    12.0      207        14
12    13.0      208         1

In [102]:
f= open("packageparam.txt","w+")
for i in range(len(packageparam)):
    f.write("%d " % (packageparam['initID'][i]))
    f.write("%d " % (packageparam['finalID'][i]))
    f.write("%d\n" % (packageparam['packages'][i]))
f.close()